openapi: 3.2.0
info:
  title: Organisation Registry Public Official Units API
  description: Organisation Registry Public API
  version: 1.0.0
servers:
- url: https://gw.api.helsinki.fi/organisation/info
security:
- apiKey: []
tags:
- name: OfficialUnits
paths:
  /v1/officialUnits:
    get:
      summary: GET v1/officialUnits
      operationId: getOfficialUnits
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OfficialUnit'
              examples:
                Human Resources Example:
                  $ref: '#/components/examples/OfficialUnitsExample'
      tags:
      - OfficialUnits
  /v2/officialUnits:
    get:
      summary: GET v2/officialUnits
      operationId: getOfficialUnitsV2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OfficialUnitV2'
              examples:
                Human Resources Example:
                  $ref: '#/components/examples/OfficialUnitsExampleV2'
      tags:
      - OfficialUnits
components:
  examples:
    OfficialUnitsExample:
      value:
      - uniqueId: '12312312'
        type: tiedekunta
        nameFi: Lääketieteellinen tiedekunta
        nameEn: Doctoral Programme in Drug Research
        nameSv: Doktorandprogrammet i läkemedelsforskning
        abbreviation: LÄÄK
        parent: '98765432'
      - uniqueId: '32131231'
        type: tiedekunta
        nameFi: Lääketieteellinen tiedekunta
        nameEn: Doctoral Programme in Drug Research
        nameSv: Doktorandprogrammet i läkemedelsforskning
        abbreviation: null
        parent: '98765432'
    OfficialUnitsExampleV2:
      value:
      - uniqueId: '12312312'
        type: tiedekunta
        nameFi: Lääketieteellinen tiedekunta
        nameEn: Doctoral Programme in Drug Research
        nameSv: Doktorandprogrammet i läkemedelsforskning
        abbreviation: LÄÄK
        educationQualifier: tilauskoulutus
        parent: '98765432'
      - uniqueId: '32131231'
        type: tiedekunta
        nameFi: Lääketieteellinen tiedekunta
        nameEn: Doctoral Programme in Drug Research
        nameSv: Doktorandprogrammet i läkemedelsforskning
        educationQualifier: null
        abbreviation: null
        parent: '98765432'
  schemas:
    OfficialUnitV2:
      type: object
      properties:
        uniqueId:
          type: string
        type:
          type: string
        nameFi:
          type: string
        nameEn:
          type: string
        nameSv:
          type: string
        abbreviation:
          type: string
        educationQualifier:
          type: string
        parent:
          type: string
    OfficialUnit:
      type: object
      properties:
        uniqueId:
          type: string
        type:
          type: string
        nameFi:
          type: string
        nameEn:
          type: string
        nameSv:
          type: string
        abbreviation:
          type: string
        parent:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      description: APIKey Auth
      name: X-Api-Key
      in: header
