openapi: 3.2.0
info:
  title: Laji Red List Evaluation Groups API
  description: '## Authentication


    This API requires an **Access Token**.'
  version: '1'
  contact: {}
servers:
- url: https://api.laji.fi
tags:
- name: Red List Evaluation Groups
paths:
  /red-list-evaluation-groups:
    get:
      operationId: RedListEvaluationGroupsController_getPage
      parameters:
      - name: page
        required: false
        in: query
        schema:
          default: 1
          type: integer
      - name: pageSize
        required: false
        in: query
        schema:
          default: 20
          type: integer
      - name: idIn
        required: false
        in: query
        description: Comma separated ids
        schema:
          type: string
      - name: selectedFields
        required: false
        in: query
        description: 'Select fields to include in the result. Multiple values are separated by a comma (,). Allows any value in the

          schema. If the response is a page-like object (has "results"), it allows any field in the results'' schema'
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentPage:
                    type: integer
                  pageSize:
                    type: integer
                  total:
                    type: integer
                  lastPage:
                    type: integer
                  prevPage:
                    type: integer
                  nextPage:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/store-iucnRedListTaxonGroup'
                required:
                - currentPage
                - pageSize
                - total
                - lastPage
                - results
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      summary: Get a page of red list evaluation groups
      tags:
      - Red List Evaluation Groups
  /red-list-evaluation-groups/tree:
    get:
      operationId: RedListEvaluationGroupsController_getTree
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/IucnRedListTaxonGroupExpanded'
                  '@context':
                    type: string
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      summary: Get the red list evaluation group tree
      tags:
      - Red List Evaluation Groups
  /red-list-evaluation-groups/roots:
    get:
      operationId: RedListEvaluationGroupsController_getRoots
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/store-iucnRedListTaxonGroup'
                  '@context':
                    type: string
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      summary: Get first level of the red list evaluation group tree
      tags:
      - Red List Evaluation Groups
  /red-list-evaluation-groups/{id}:
    get:
      operationId: RedListEvaluationGroupsController_get
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/store-iucnRedListTaxonGroup'
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      summary: Get an red list evaluation group by id
      tags:
      - Red List Evaluation Groups
  /red-list-evaluation-groups/{id}/children:
    get:
      operationId: RedListEvaluationGroupsController_getChildren
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/store-iucnRedListTaxonGroup'
                  '@context':
                    type: string
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      summary: Get an red list evaluation group's immediate children
      tags:
      - Red List Evaluation Groups
  /red-list-evaluation-groups/{id}/parent:
    get:
      operationId: RedListEvaluationGroupsController_getParent
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/store-iucnRedListTaxonGroup'
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      summary: Get red list evaluation group's parents
      tags:
      - Red List Evaluation Groups
  /red-list-evaluation-groups/{id}/siblings:
    get:
      operationId: RedListEvaluationGroupsController_getSiblings
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/store-iucnRedListTaxonGroup'
                  '@context':
                    type: string
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      summary: Get red list evaluation group's siblings
      tags:
      - Red List Evaluation Groups
components:
  schemas:
    store-iucnRedListTaxonGroup:
      type: object
      properties:
        '@context':
          type: string
          title: Context for the IUCN Red List Evaluation Informal Taxon Group
        id:
          type: string
          title: Id for the IUCN Red List Evaluation Informal Taxon Group
        '@type':
          type: string
          title: Type for the IUCN Red List Evaluation Informal Taxon Group
        hasIucnSubGroup:
          type: array
          uniqueItems: false
          items:
            type: string
          minItems: 0
          title: Has sub group
        includesInformalTaxonGroup:
          type: array
          uniqueItems: false
          items:
            type: string
          minItems: 0
          title: Includes informal taxon group
        includesTaxon:
          type: array
          uniqueItems: false
          items:
            type: string
          minItems: 0
          title: Includes taxon
        name:
          type: string
      required: []
      additionalProperties: false
    IucnRedListTaxonGroupExpanded:
      type: object
      properties:
        '@context':
          type: string
          title: Context for the IUCN Red List Evaluation Informal Taxon Group
        id:
          type: string
          title: Id for the IUCN Red List Evaluation Informal Taxon Group
        '@type':
          type: string
          title: Type for the IUCN Red List Evaluation Informal Taxon Group
        hasIucnSubGroup:
          $ref: '#/components/schemas/IucnRedListTaxonGroupExpanded'
        includesInformalTaxonGroup:
          type: array
          uniqueItems: false
          items:
            type: string
          minItems: 0
          title: Includes informal taxon group
        includesTaxon:
          type: array
          uniqueItems: false
          items:
            type: string
          minItems: 0
          title: Includes taxon
        name:
          type: string
      required:
      - name
      - id
      additionalProperties: false
  securitySchemes:
    Access_token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Access token
    Lang:
      type: apiKey
      in: header
      name: Accept-Language
      description: Sets the 'Accept-Language' header. One of 'fi', 'sv,' 'en'. Defaults to 'en'.
    Person_token:
      type: apiKey
      in: header
      name: Person-Token
