openapi: 3.2.0
info:
  title: University of Helsinki - Contact Search Organization API
  description: ''
  version: 2.0.0
servers:
- url: https://gw.api.helsinki.fi/contact-search
tags:
- name: Organization
paths:
  /organizations:
    get:
      tags:
      - Organization
      summary: Retrieves the collection of Organization resources
      description: Retrieves the collection of Organization resources.
      operationId: api_organizations_get_collection
      parameters:
      - name: page
        in: query
        description: The collection page number
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: false
        allowReserved: false
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Organization collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization.jsonld-read'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                  hydra:view:
                    type: object
                    example:
                      '@id': string
                      type: string
                      hydra:first: string
                      hydra:last: string
                      hydra:previous: string
                      hydra:next: string
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      hydra:first:
                        type: string
                        format: iri-reference
                      hydra:last:
                        type: string
                        format: iri-reference
                      hydra:previous:
                        type: string
                        format: iri-reference
                      hydra:next:
                        type: string
                        format: iri-reference
                  hydra:search:
                    type: object
                    properties:
                      '@type':
                        type: string
                      hydra:template:
                        type: string
                      hydra:variableRepresentation:
                        type: string
                      hydra:mapping:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                            variable:
                              type: string
                            property:
                              type:
                              - string
                              - 'null'
                            required:
                              type: boolean
                required:
                - hydra:member
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization-read'
      deprecated: false
  /organizations/{id}:
    get:
      tags:
      - Organization
      summary: Retrieves a Organization resource
      description: Retrieves a Organization resource.
      operationId: api_organizations_id_get
      parameters:
      - name: id
        in: path
        description: Organization identifier
        required: true
        deprecated: false
        style: simple
        explode: false
        allowReserved: false
        schema:
          type: string
      responses:
        '200':
          description: Organization resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Organization.jsonld-read'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Organization-read'
        '404':
          description: Resource not found
      deprecated: false
components:
  schemas:
    Organization-read:
      type: object
      deprecated: false
      description: Organization resource.
      properties:
        id:
          type: integer
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        type:
          type: string
        parent:
          type:
          - integer
          - 'null'
        depth:
          type: integer
    Organization.jsonld-read:
      type: object
      deprecated: false
      description: Organization resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        '@context':
          oneOf:
          - type: string
          - type: object
            additionalProperties: true
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
          readOnly: true
        id:
          type: integer
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        type:
          type: string
        parent:
          type:
          - integer
          - 'null'
        depth:
          type: integer
