openapi: 3.2.0
info:
  title: Organisation Registry Public Human Resources Subunit To…
  description: Organisation Registry Public API
  version: 1.0.0
servers:
- url: https://gw.api.helsinki.fi/organisation/info
security:
- apiKey: []
tags:
- name: HumanResourcesSubunitToUnit
paths:
  /v1/humanResourcesSubunitToUnit:
    get:
      summary: Fetch certain units in human resources with their greatest parent
      operationId: getHumanResourcesSubunitToUnit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/humanResourcesSubunitToUnit'
              examples:
                PersonnelUnitMap example:
                  $ref: '#/components/examples/humanResourcesSubunitToUnit'
      tags:
      - HumanResourcesSubunitToUnit
components:
  schemas:
    humanResourcesSubunitToUnit:
      type: object
      properties:
        subUnitCode:
          type: string
          description: The hr_lyhenne of the sub unit
        unitCode:
          type: string
          description: The hr_lyhenne of the greatest parent of the sub unit
        unitNameFi:
          type: string
          description: The name_fi of the greatest parent fo the sub unit
  examples:
    humanResourcesSubunitToUnit:
      value:
      - subUnitCode: H01
        unitCode: H01
        unitNameFi: Yliopistopalvelut
      - subUnitCode: H022
        unitCode: H01
        unitNameFi: Yliopistopalvelut
      - subUnitCode: H02201
        unitCode: H01
        unitNameFi: Yliopistopalvelut
  securitySchemes:
    apiKey:
      type: apiKey
      description: APIKey Auth
      name: X-Api-Key
      in: header
