openapi: 3.2.0
info:
  title: Laji Shorthands API
  description: '## Authentication


    This API requires an **Access Token**.'
  version: '1'
  contact: {}
servers:
- url: https://api.laji.fi
tags:
- name: Shorthands
paths:
  /shorthand/unit/trip-report:
    get:
      operationId: ShorthandController_getTripReportUnitShorthandAutocomplete
      parameters:
      - name: query
        required: true
        in: query
        description: Search term
        schema:
          default: ''
          type: string
      - name: limit
        required: false
        in: query
        description: Limit the size of results
        schema:
          default: 10
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/LajiBackendTaxonSearchResponse'
                  '@context':
                    type: string
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      tags:
      - Shorthands
      summary: Shorthand controller get trip report unit shorthand autocomplete
      x-summary-source: derived
  /shorthand/unit/list:
    get:
      operationId: ShorthandController_getTripReportUnitListAutocomplete
      parameters:
      - name: query
        required: true
        in: query
        description: Search term
        schema:
          default: ''
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripReportUnitListResultDto'
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      tags:
      - Shorthands
      summary: Shorthand controller get trip report unit list autocomplete
      x-summary-source: derived
  /shorthand/unit/line-transect:
    get:
      operationId: ShorthandController_getLineTransectUnitShorthandAutocomplete
      parameters:
      - name: query
        required: true
        in: query
        description: Search term
        schema:
          default: ''
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineTransectUnitShorthandResponseDto'
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      tags:
      - Shorthands
      summary: Shorthand controller get line transect unit shorthand autocomplete
      x-summary-source: derived
  /shorthand/unit/water-bird-pair-count:
    get:
      operationId: ShorthandController_getWaterbirdPairCountUnitShorthandAutocomplete
      parameters:
      - name: taxonID
        required: true
        in: query
        schema:
          type: string
      - name: query
        required: true
        in: query
        description: Search term
        schema:
          default: ''
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineTransectUnitShorthandResponseDto'
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      tags:
      - Shorthands
      summary: Shorthand controller get waterbird pair count unit shorthand autocomplete
      x-summary-source: derived
components:
  schemas:
    LajiBackendTaxonSearchResponse:
      type: array
      items:
        type: object
        properties:
          matchingName:
            type: string
            description: Name that matched the search word
          nameType:
            type: string
            description: Type of the name.
            enum:
            - MX.scientificName
            - MX.vernacularName
            - MX.hasSynonym
            - MX.hasBasionym
            - MX.alternativeVernacularName
            - MX.hasMisappliedName
            - MX.birdlifeCode
            - MX.obsoleteVernacularName
            - MX.euringCode
            - MX.hasSubjectiveSynonym
            - MX.hasAlternativeName
            - MX.hasOrthographicVariant
            - MX.hasObjectiveSynonym
            - MX.hasMisspelledName
            - MX.colloquialVernacularName
            - MX.hasUncertainSynonym
            - MX.hasHomotypicSynonym
            - MX.tradeName
            - MX.hasHeterotypicSynonym
          id:
            type: string
            description: Taxon identifier of the taxon that has the matching name; in the short Qname format, for example 'MX.123'
          checklist:
            type: string
            description: Checklist identifier of the matching taxon; in the short Qname format, for example 'MR.1'. For taxa not part of any checklist the value is 'undefined'.
          scientificName:
            type: string
            description: Accepted scientific name of the taxon that has the matching name
          scientificNameAuthorship:
            type: string
            description: Author of the above mentioned scientific name
          taxonRank:
            type: string
            description: Taxonomic rank of the taxon that has the matching name; in the short Qname format, for example 'MX.genus'
          cursiveName:
            type: boolean
            description: Should the matching name be cursived
          finnish:
            type: boolean
            description: Is the taxon that has the mathing name marked as a Finnish taxon
          species:
            type: boolean
            description: Is the taxon that has the mathing name species level or lower, or a higher taxon
          vernacularName:
            $ref: '#/components/schemas/LajiBackendLocalizedText'
          informalGroups:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  description: Identifier of the informal taxon group that the matching taxon belongs to); in the short Qname format, for example 'MVL.1'
                name:
                  $ref: '#/components/schemas/LajiBackendLocalizedText'
              required:
              - id
              - name
          kingdomScientificName:
            type: string
            description: Scientific name of the kingdom that the matching taxon belongs to
          type:
            type: string
            description: Type of the matching name
            enum:
            - exactMatches
            - partialMatches
            - likelyMatches
        required:
        - matchingName
        - nameType
        - id
        - checklist
        - scientificName
        - scientificNameAuthorship
        - taxonRank
        - cursiveName
        - finnish
        - species
        - vernacularName
        - informalGroups
        - kingdomScientificName
        - type
    LajiBackendLocalizedText:
      type: string
    LineTransectUnitShorthandResponseDto:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
        matchType:
          type: string
        unit:
          type: object
        interpretedFrom:
          type: object
          properties:
            taxon:
              type: string
            count:
              type: string
            maleIndividualCount:
              type: string
            femaleIndividualCount:
              type: string
          required:
          - taxon
          - count
          - maleIndividualCount
          - femaleIndividualCount
      required:
      - key
      - value
      - unit
      - interpretedFrom
    TripReportUnitListResultDto:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
        count:
          type: number
        nonMatchingCount:
          type: number
      required:
      - results
      - count
      - nonMatchingCount
  securitySchemes:
    Access_token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Access token
    Lang:
      type: apiKey
      in: header
      name: Accept-Language
      description: Sets the 'Accept-Language' header. One of 'fi', 'sv,' 'en'. Defaults to 'en'.
    Person_token:
      type: apiKey
      in: header
      name: Person-Token
