openapi: 3.2.0
info:
  title: Organisation Registry Public Nodes In Multiple Hierarchies…
  description: Organisation Registry Public API
  version: 1.0.0
servers:
- url: https://gw.api.helsinki.fi/organisation/info
security:
- apiKey: []
tags:
- name: NodesInMultipleHierarchies
paths:
  /v1/NodesInMultipleHierarchies:
    get:
      summary: Fetch nodes in given public hierarchies
      operationId: getNodesInMultipleHierarchies
      parameters:
      - name: hierarchy
        in: query
        description: Comma separated list of public hierarchies to fetch (e.g. virallinen,opetus,talous,henkilosto)
        required: true
        style: form
        explode: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicHierarchyNode'
              examples:
                Human Resources Example:
                  $ref: '#/components/examples/PublicHierarchyNodesExample'
        '403':
          description: '''hierarchy'' parameter included unknown or private hierarchies.'
          content:
            application/json:
              schema:
                type: string
                example: Request parameter 'hierarchy' can only contain public hierarchies.
      tags:
      - NodesInMultipleHierarchies
components:
  schemas:
    PublicHierarchyNode:
      type: object
      properties:
        uniqueId:
          type: string
        nameFi:
          type: string
        nameEn:
          type: string
        nameSv:
          type: string
  examples:
    PublicHierarchyNodesExample:
      value:
      - nameEn: University of Helsinki
        nameFi: Helsingin yliopisto
        nameSv: Helsingfors universitet
        uniqueId: '42785051'
      - nameEn: Biological stations
        nameFi: Biologiset asemat
        nameSv: Biologiska stationer
        uniqueId: '62570520'
      - nameEn: Medicum
        nameFi: Medicum
        nameSv: Medicum
        uniqueId: '81552327'
  securitySchemes:
    apiKey:
      type: apiKey
      description: APIKey Auth
      name: X-Api-Key
      in: header
