openapi: 3.2.0
info:
  title: Organisation Registry Public University Of Helsinki Group…
  description: Organisation Registry Public API
  version: 1.0.0
servers:
- url: https://gw.api.helsinki.fi/organisation/info
security:
- apiKey: []
tags:
- name: UniversityOfHelsinkiGroup
paths:
  /v1/UniversityOfHelsinkiGroup:
    get:
      summary: GET University of Helsinki Group
      operationId: getConcernGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SteeringGroup'
              examples:
                Human Resources Example:
                  $ref: '#/components/examples/ConcernGroupExample'
      tags:
      - UniversityOfHelsinkiGroup
components:
  schemas:
    SteeringGroup:
      type: object
      properties:
        uniqueId:
          type: string
        code:
          type: string
        type:
          type: string
        nameFi:
          type: string
        nameEn:
          type: string
        nameSv:
          type: string
        parent:
          type: string
  examples:
    ConcernGroupExample:
      value:
      - uniqueId: '68909643'
        code: KP
        type: tytar-yhtio
        nameFi: Helsingin yliopiston kiinteistöpalvelut Oy
        nameEn: University of Helsinki Property Services Ltd
        nameSv: Helsingfors Universitets fastighetsservice Ab
        parent: null
  securitySchemes:
    apiKey:
      type: apiKey
      description: APIKey Auth
      name: X-Api-Key
      in: header
