openapi: 3.2.0
info:
  title: University of Helsinki - Contact Search Filter API
  description: ''
  version: 2.0.0
servers:
- url: https://gw.api.helsinki.fi/contact-search
tags:
- name: Filter
paths:
  /filters:
    get:
      tags:
      - Filter
      summary: Retrieves the collection of Filter resources
      description: Retrieves the collection of Filter resources.
      operationId: api_filters_get_collection
      parameters: []
      responses:
        '200':
          description: Filter collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Filter.jsonld-read'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                  hydra:view:
                    type: object
                    example:
                      '@id': string
                      type: string
                      hydra:first: string
                      hydra:last: string
                      hydra:previous: string
                      hydra:next: string
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      hydra:first:
                        type: string
                        format: iri-reference
                      hydra:last:
                        type: string
                        format: iri-reference
                      hydra:previous:
                        type: string
                        format: iri-reference
                      hydra:next:
                        type: string
                        format: iri-reference
                  hydra:search:
                    type: object
                    properties:
                      '@type':
                        type: string
                      hydra:template:
                        type: string
                      hydra:variableRepresentation:
                        type: string
                      hydra:mapping:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                            variable:
                              type: string
                            property:
                              type:
                              - string
                              - 'null'
                            required:
                              type: boolean
                required:
                - hydra:member
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Filter-read'
      deprecated: false
  /filters/{id}:
    get:
      tags:
      - Filter
      summary: Retrieves a Filter resource
      description: Retrieves a Filter resource.
      operationId: api_filters_id_get
      parameters:
      - name: id
        in: path
        description: Filter identifier
        required: true
        deprecated: false
        style: simple
        explode: false
        allowReserved: false
        schema:
          type: string
      responses:
        '200':
          description: Filter resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Filter.jsonld-read'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Filter-read'
        '404':
          description: Resource not found
      deprecated: false
components:
  schemas:
    Filter-read:
      type: object
      deprecated: false
      description: Filter resource.
      properties:
        id:
          type: string
        data:
          type: array
          items:
            type: string
        isPublic:
          type: boolean
          default: true
          example: true
    Filter.jsonld-read:
      type: object
      deprecated: false
      description: Filter resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        '@context':
          oneOf:
          - type: string
          - type: object
            additionalProperties: true
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
          readOnly: true
        id:
          type: string
        data:
          type: array
          items:
            type: string
        isPublic:
          type: boolean
          default: true
          example: true
