openapi: 3.2.0
info:
  title: Organisation Registry Public Human Resources And Research…
  description: Organisation Registry Public API
  version: 1.0.0
servers:
- url: https://gw.api.helsinki.fi/organisation/info
security:
- apiKey: []
tags:
- name: HumanResourcesAndResearchGroups
paths:
  /v1/humanResourcesAndResearchGroups:
    get:
      summary: Fetch nodes in 'tutkimusryhmat' and 'henkilosto' hierarchy
      operationId: getHumanResourcesAndResearchGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HumanResourcesAndResearchGroups'
              examples:
                Research Groups Example:
                  $ref: '#/components/examples/HumanResourcesAndResearchGroups'
      tags:
      - HumanResourcesAndResearchGroups
components:
  examples:
    HumanResourcesAndResearchGroups:
      value:
      - code: null
        nameEn: Helsinki Inequality Initiative
        nameFi: Helsinki Inequality Initiative
        nameSv: Helsinki Inequality Initiative
        parent: '90880385'
        type: tutkimusyhteiso
        uniqueId: '83193740'
        unitStartDate: '2018-01-01'
      - code: null
        nameEn: Learning, Culture & Interventions (LECI)
        nameFi: Learning, Culture & Interventions (LECI)
        nameSv: Learning, Culture & Interventions (LECI)
        parent: '90880385'
        type: tutkimusryhma
        uniqueId: '99897622'
        unitStartDate: '2017-09-01'
  schemas:
    HumanResourcesAndResearchGroups:
      type: object
      properties:
        uniqueId:
          type: string
        code:
          type: string
        type:
          type: string
        nameFi:
          type: string
        nameEn:
          type: string
        nameSv:
          type: string
        parent:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      description: APIKey Auth
      name: X-Api-Key
      in: header
