openapi: 3.2.0
info:
  title: University of Helsinki - Contact Search Company…
  description: ''
  version: 2.0.0
servers:
- url: https://gw.api.helsinki.fi/contact-search
tags:
- name: CompanyOrganization
paths:
  /company_organizations:
    get:
      tags:
      - CompanyOrganization
      summary: Retrieves the collection of CompanyOrganization resources
      description: Retrieves the collection of CompanyOrganization resources.
      operationId: api_company_organizations_get_collection
      parameters:
      - name: id
        in: query
        description: ''
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: false
        allowReserved: false
        schema:
          type: integer
      - name: id[]
        in: query
        description: ''
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: true
        allowReserved: false
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: CompanyOrganization collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyOrganization.jsonld-read'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                  hydra:view:
                    type: object
                    example:
                      '@id': string
                      type: string
                      hydra:first: string
                      hydra:last: string
                      hydra:previous: string
                      hydra:next: string
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      hydra:first:
                        type: string
                        format: iri-reference
                      hydra:last:
                        type: string
                        format: iri-reference
                      hydra:previous:
                        type: string
                        format: iri-reference
                      hydra:next:
                        type: string
                        format: iri-reference
                  hydra:search:
                    type: object
                    properties:
                      '@type':
                        type: string
                      hydra:template:
                        type: string
                      hydra:variableRepresentation:
                        type: string
                      hydra:mapping:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                            variable:
                              type: string
                            property:
                              type:
                              - string
                              - 'null'
                            required:
                              type: boolean
                required:
                - hydra:member
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyOrganization-read'
      deprecated: false
  /company_organizations/{id}:
    get:
      tags:
      - CompanyOrganization
      summary: Retrieves a CompanyOrganization resource
      description: Retrieves a CompanyOrganization resource.
      operationId: api_company_organizations_id_get
      parameters:
      - name: id
        in: path
        description: CompanyOrganization identifier
        required: true
        deprecated: false
        style: simple
        explode: false
        allowReserved: false
        schema:
          type: string
      responses:
        '200':
          description: CompanyOrganization resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/CompanyOrganization.jsonld-read'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CompanyOrganization-read'
        '404':
          description: Resource not found
      deprecated: false
  /company_organizations/{id}/members:
    get:
      tags:
      - CompanyOrganization
      summary: Retrieves the collection of Company contact resources belonging to the Company…
      description: Retrieves the collection of Company contact resources belonging to the Company organization
      operationId: api_company_organizations_idmembers_get_collection
      parameters:
      - name: id
        in: path
        description: CompanyOrganization identifier
        required: true
        deprecated: false
        style: simple
        explode: false
        allowReserved: false
        schema:
          type: string
      - name: sort
        in: query
        description: 'Sort results by given field (id, firstnames, lastname, fullname). Default sort: ASC. Example for DESC: "firstnames,desc".'
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: false
        allowReserved: false
        schema:
          type: string
      - name: firstnames
        in: query
        description: ''
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: false
        allowReserved: false
        schema:
          type: string
      - name: lastname
        in: query
        description: ''
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: false
        allowReserved: false
        schema:
          type: string
      - name: fullname
        in: query
        description: ''
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: false
        allowReserved: false
        schema:
          type: string
      - name: email
        in: query
        description: ''
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: false
        allowReserved: false
        schema:
          type: string
      - name: mobileNumber
        in: query
        description: ''
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: false
        allowReserved: false
        schema:
          type: string
      - name: phoneNumber
        in: query
        description: ''
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: false
        allowReserved: false
        schema:
          type: string
      - name: title.id
        in: query
        description: ''
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: false
        allowReserved: false
        schema:
          type: string
      - name: title.id[]
        in: query
        description: ''
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: true
        allowReserved: false
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: Search from Company contacts.
        required: false
        deprecated: false
        allowEmptyValue: true
        style: form
        explode: false
        allowReserved: false
        schema:
          type: string
      responses:
        '200':
          description: CompanyContact collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyContact.jsonld-read'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                  hydra:view:
                    type: object
                    example:
                      '@id': string
                      type: string
                      hydra:first: string
                      hydra:last: string
                      hydra:previous: string
                      hydra:next: string
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      hydra:first:
                        type: string
                        format: iri-reference
                      hydra:last:
                        type: string
                        format: iri-reference
                      hydra:previous:
                        type: string
                        format: iri-reference
                      hydra:next:
                        type: string
                        format: iri-reference
                  hydra:search:
                    type: object
                    properties:
                      '@type':
                        type: string
                      hydra:template:
                        type: string
                      hydra:variableRepresentation:
                        type: string
                      hydra:mapping:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                            variable:
                              type: string
                            property:
                              type:
                              - string
                              - 'null'
                            required:
                              type: boolean
                required:
                - hydra:member
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyContact-read'
      deprecated: false
components:
  schemas:
    CompanyTitle.jsonld-read:
      type: object
      deprecated: false
      description: Company Title resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        id:
          type: string
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
    CompanyOrganization.jsonld-read:
      type: object
      deprecated: false
      description: Company organization resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        '@context':
          oneOf:
          - type: string
          - type: object
            additionalProperties: true
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
          readOnly: true
        id:
          type: integer
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        type:
          type: string
        parent:
          type:
          - integer
          - 'null'
        depth:
          type: integer
        code:
          type:
          - string
          - 'null'
    CompanyContact-read:
      type: object
      deprecated: false
      description: Company Contact resource.
      properties:
        companyOrganizations:
          type: array
          items:
            $ref: '#/components/schemas/CompanyOrganization-read'
        title:
          anyOf:
          - $ref: '#/components/schemas/CompanyTitle-read'
          - type: 'null'
          owl:maxCardinality: 1
        id:
          type: integer
        firstnames:
          type: string
        lastname:
          type: string
        fullname:
          type: string
        email:
          type:
          - string
          - 'null'
        address:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        mobileNumber:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
        isPublic:
          type: boolean
          default: true
          example: true
      required:
      - email
      - firstnames
      - fullname
      - lastname
    CompanyOrganization-read:
      type: object
      deprecated: false
      description: Company organization resource.
      properties:
        id:
          type: integer
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        type:
          type: string
        parent:
          type:
          - integer
          - 'null'
        depth:
          type: integer
        code:
          type:
          - string
          - 'null'
    CompanyTitle-read:
      type: object
      deprecated: false
      description: Company Title resource.
      properties:
        id:
          type: string
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
    CompanyContact.jsonld-read:
      type: object
      deprecated: false
      description: Company Contact resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        '@context':
          oneOf:
          - type: string
          - type: object
            additionalProperties: true
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
          readOnly: true
        companyOrganizations:
          type: array
          items:
            $ref: '#/components/schemas/CompanyOrganization.jsonld-read'
        title:
          anyOf:
          - $ref: '#/components/schemas/CompanyTitle.jsonld-read'
          - type: 'null'
          owl:maxCardinality: 1
        id:
          type: integer
        firstnames:
          type: string
        lastname:
          type: string
        fullname:
          type: string
        email:
          type:
          - string
          - 'null'
        address:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        mobileNumber:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
        isPublic:
          type: boolean
          default: true
          example: true
      required:
      - email
      - firstnames
      - fullname
      - lastname
