openapi: 3.2.0
info:
  title: Laji Geo Convert API
  description: '## Authentication


    This API requires an **Access Token**.'
  version: '1'
  contact: {}
servers:
- url: https://api.laji.fi
tags:
- name: GeoConvert
paths:
  /geo-convert/convert-to-table:
    post:
      tags:
      - GeoConvert
      summary: Convert GIS file to CSV table
      description: Upload a GIS file (GeoJSON, GPKG, KML, GML, or a ZIP archive for Shapefiles) and get back a CSV file with geometry as WKT
      operationId: convert_gis_to_table_convert_to_table_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GeoConvertBody_convert_gis_to_table_convert_to_table_post'
        required: true
      responses:
        '200':
          description: CSV file with converted data
          content:
            application/json:
              schema: {}
            text/csv: {}
        '400':
          description: Unsupported file type or bare .shp upload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertHTTPValidationError'
        '500':
          description: Conversion failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
      security:
      - Access token: []
      - Lang: []
      - Person token: []
  /geo-convert/:
    post:
      tags:
      - GeoConvert
      summary: Convert uploaded ZIP file to a zipped GeoPackage
      description: Upload a ZIP file containing TSV data ('occurrences.tsv') or TSV file directly and convert it to a zipped GeoPackage format. ID is generated based on the original filename and parameters.
      operationId: convert_with_file__post
      parameters:
      - name: lang
        in: query
        required: false
        schema:
          enum:
          - fi
          - en
          - tech
          type: string
          description: Language for field names (fi=Finnish, en=English, tech=technical)
          default: tech
          title: Lang
        description: Language for field names (fi=Finnish, en=English, tech=technical)
      - name: geometryType
        in: query
        required: true
        schema:
          enum:
          - bbox
          - point
          - footprint
          type: string
          description: Geometry type to use
          title: Geometrytype
        description: Geometry type to use
      - name: crs
        in: query
        required: true
        schema:
          enum:
          - euref
          - wgs84
          type: string
          description: Coordinate reference system
          title: Crs
        description: Coordinate reference system
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GeoConvertBody_convert_with_file__post'
      responses:
        '200':
          description: Conversion started successfully. Returns the conversion ID string.
          content:
            application/json:
              schema:
                type: string
                title: Response Convert With File  Post
            text/plain:
              example: dataset123_tech_point_wgs84
        '400':
          description: Invalid file or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertHTTPValidationError'
        '500':
          description: Conversion failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
      security:
      - Access token: []
      - Lang: []
      - Person token: []
  /geo-convert/status/{conversion_id}:
    get:
      tags:
      - GeoConvert
      summary: Check conversion status
      description: Get the current status of a file conversion process
      operationId: get_status_status__conversion_id__get
      parameters:
      - name: conversion_id
        in: path
        required: true
        schema:
          type: string
          description: Conversion ID to check
          title: Conversion Id
        description: Conversion ID to check
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertStatusResponse'
        '404':
          description: Conversion ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertHTTPValidationError'
        '500':
          description: Conversion failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
      security:
      - Access token: []
      - Lang: []
      - Person token: []
  /geo-convert/health:
    get:
      tags:
      - GeoConvert
      summary: Health check
      description: Verify that the service is running and healthy. Returns processing status of active conversions.
      operationId: health_check_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertHealthResponse'
      security:
      - Access token: []
      - Lang: []
      - Person token: []
  /geo-convert/output/{conversion_id}:
    get:
      tags:
      - GeoConvert
      summary: Download conversion output
      description: Download the converted file for a completed conversion
      operationId: get_output_output__conversion_id__get
      parameters:
      - name: conversion_id
        in: path
        required: true
        schema:
          type: string
          description: Conversion ID
          title: Conversion Id
        description: Conversion ID
      - name: Person-Token
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Authentication token for private data
          title: Persontoken
        description: Authentication token for private data
      responses:
        '200':
          description: Output file
          content:
            application/json:
              schema: {}
            application/zip: {}
        '400':
          description: Conversion not completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
        '404':
          description: Conversion ID or output file not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertHTTPValidationError'
      security:
      - Access token: []
      - Lang: []
      - Person token: []
  /geo-convert/{dataset_id}:
    get:
      tags:
      - GeoConvert
      summary: Convert ZIP or TSV file from the data warehouse to a zipped GeoPackage
      description: Convert ZIP or TSV file that is stored in the data warehouse to a zipped GeoPackage format
      operationId: convert_with_id__dataset_id__get
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the file in the data warehouse
          title: Dataset Id
        description: ID of the file in the data warehouse
      - name: lang
        in: query
        required: false
        schema:
          enum:
          - fi
          - en
          - tech
          type: string
          description: Language for field names (fi=Finnish, en=English, tech=technical)
          default: tech
          title: Lang
        description: Language for field names (fi=Finnish, en=English, tech=technical)
      - name: geometryType
        in: query
        required: true
        schema:
          enum:
          - bbox
          - point
          - footprint
          type: string
          description: Geometry type to use
          title: Geometrytype
        description: Geometry type to use
      - name: crs
        in: query
        required: true
        schema:
          enum:
          - euref
          - wgs84
          type: string
          description: Coordinate reference system
          title: Crs
        description: Coordinate reference system
      - name: Person-Token
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Authentication token for private data
          title: Persontoken
        description: Authentication token for private data
      responses:
        '200':
          description: Conversion started successfully. Returns the conversion ID string.
          content:
            application/json:
              schema: {}
            text/plain:
              example: 48cdcf2f-4e8a-4b4a-a786-068ab8854b84
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
        '404':
          description: File not found in data warehouse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertHTTPValidationError'
        '500':
          description: Conversion failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoConvertErrorResponse'
      security:
      - Access token: []
      - Lang: []
      - Person token: []
components:
  schemas:
    GeoConvertErrorResponse:
      properties:
        detail:
          type: string
          title: Detail
          description: Error message
          examples:
          - Conversion ID not found
      type: object
      required:
      - detail
      title: ErrorResponse
    GeoConvertHTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/GeoConvertValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
      required:
      - detail
    GeoConvertHealthResponse:
      properties:
        status:
          type: string
          title: Status
          description: Service health status
          examples:
          - ok
        processing:
          type: string
          title: Processing
          description: Number of active conversions
          examples:
          - 2 conversions right now
      type: object
      required:
      - status
      - processing
      title: HealthResponse
    GeoConvertBody_convert_with_file__post:
      properties:
        file:
          type: string
          format: binary
          title: File
          description: ZIP file containing TSV data
      type: object
      required:
      - file
      title: Body_convert_with_file__post
    GeoConvertBody_convert_gis_to_table_convert_to_table_post:
      properties:
        file:
          type: string
          format: binary
          title: File
          description: GIS file to convert (GeoJSON, GPKG, KML, GML, or ZIP for Shapefiles)
      type: object
      required:
      - file
      title: Body_convert_gis_to_table_convert_to_table_post
    GeoConvertValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    GeoConvertStatusResponse:
      properties:
        id:
          type: string
          title: Id
          description: Unique conversion identifier
          examples:
          - dataset123_tech_point_wgs84
        status:
          type: string
          enum:
          - processing
          - complete
          - failed
          title: Status
          description: Current conversion status
          examples:
          - processing
        progress_percent:
          type: integer
          maximum: 100
          minimum: 0
          title: Progress Percent
          description: Completion percentage (0-100)
          examples:
          - 45
      type: object
      required:
      - id
      - status
      - progress_percent
      title: StatusResponse
  securitySchemes:
    Access_token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Access token
    Lang:
      type: apiKey
      in: header
      name: Accept-Language
      description: Sets the 'Accept-Language' header. One of 'fi', 'sv,' 'en'. Defaults to 'en'.
    Person_token:
      type: apiKey
      in: header
      name: Person-Token
