openapi: 3.2.0
info:
  title: University of Helsinki - Contact Search Steering Group API
  description: ''
  version: 2.0.0
servers:
- url: https://gw.api.helsinki.fi/contact-search
tags:
- name: SteeringGroup
paths:
  /steering_groups:
    get:
      tags:
      - SteeringGroup
      summary: Retrieves the collection of SteeringGroup resources
      description: Retrieves the collection of SteeringGroup resources.
      operationId: api_steering_groups_get_collection
      parameters: []
      responses:
        '200':
          description: SteeringGroup collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/SteeringGroup.jsonld-read'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                  hydra:view:
                    type: object
                    example:
                      '@id': string
                      type: string
                      hydra:first: string
                      hydra:last: string
                      hydra:previous: string
                      hydra:next: string
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      hydra:first:
                        type: string
                        format: iri-reference
                      hydra:last:
                        type: string
                        format: iri-reference
                      hydra:previous:
                        type: string
                        format: iri-reference
                      hydra:next:
                        type: string
                        format: iri-reference
                  hydra:search:
                    type: object
                    properties:
                      '@type':
                        type: string
                      hydra:template:
                        type: string
                      hydra:variableRepresentation:
                        type: string
                      hydra:mapping:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                            variable:
                              type: string
                            property:
                              type:
                              - string
                              - 'null'
                            required:
                              type: boolean
                required:
                - hydra:member
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SteeringGroup-read'
      deprecated: false
  /steering_groups/{id}:
    get:
      tags:
      - SteeringGroup
      summary: Retrieves a SteeringGroup resource
      description: Retrieves a SteeringGroup resource.
      operationId: api_steering_groups_id_get
      parameters:
      - name: id
        in: path
        description: SteeringGroup identifier
        required: true
        deprecated: false
        style: simple
        explode: false
        allowReserved: false
        schema:
          type: string
      responses:
        '200':
          description: SteeringGroup resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/SteeringGroup.jsonld-read'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SteeringGroup-read'
        '404':
          description: Resource not found
      deprecated: false
  /steering_groups/{id}/members:
    get:
      tags:
      - SteeringGroup
      summary: Retrieves a SteeringGroupMember resources
      description: Retrieves a SteeringGroupMember resources.
      operationId: api_steering_groups_idmembers_get_collection
      parameters:
      - name: id
        in: path
        description: SteeringGroup identifier
        required: true
        deprecated: false
        style: simple
        explode: false
        allowReserved: false
        schema:
          type: string
      responses:
        '200':
          description: SteeringGroupMember collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/SteeringGroupMember.jsonld-read'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                  hydra:view:
                    type: object
                    example:
                      '@id': string
                      type: string
                      hydra:first: string
                      hydra:last: string
                      hydra:previous: string
                      hydra:next: string
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      hydra:first:
                        type: string
                        format: iri-reference
                      hydra:last:
                        type: string
                        format: iri-reference
                      hydra:previous:
                        type: string
                        format: iri-reference
                      hydra:next:
                        type: string
                        format: iri-reference
                  hydra:search:
                    type: object
                    properties:
                      '@type':
                        type: string
                      hydra:template:
                        type: string
                      hydra:variableRepresentation:
                        type: string
                      hydra:mapping:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                            variable:
                              type: string
                            property:
                              type:
                              - string
                              - 'null'
                            required:
                              type: boolean
                required:
                - hydra:member
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SteeringGroupMember-read'
      deprecated: false
components:
  schemas:
    Organization.jsonld-read:
      type: object
      deprecated: false
      description: Organization resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        '@context':
          oneOf:
          - type: string
          - type: object
            additionalProperties: true
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
          readOnly: true
        id:
          type: integer
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        type:
          type: string
        parent:
          type:
          - integer
          - 'null'
        depth:
          type: integer
    KeywordGroup.jsonld-read:
      type: object
      deprecated: false
      description: ''
      properties:
        value:
          anyOf:
          - $ref: '#/components/schemas/FieldOfScience.jsonld-read'
          - type: 'null'
          owl:maxCardinality: 1
        additional:
          type: object
          items:
            type: string
          properties:
            en:
              type: array
              items:
                type: string
            fi:
              type: array
              items:
                type: string
            sv:
              type: array
              items:
                type: string
      required:
      - additional
      - value
    KeywordGroup-read:
      type: object
      deprecated: false
      description: ''
      properties:
        value:
          anyOf:
          - $ref: '#/components/schemas/FieldOfScience-read'
          - type: 'null'
          owl:maxCardinality: 1
        additional:
          type: object
          items:
            type: string
          properties:
            en:
              type: array
              items:
                type: string
            fi:
              type: array
              items:
                type: string
            sv:
              type: array
              items:
                type: string
      required:
      - additional
      - value
    Organization-read:
      type: object
      deprecated: false
      description: Organization resource.
      properties:
        id:
          type: integer
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        type:
          type: string
        parent:
          type:
          - integer
          - 'null'
        depth:
          type: integer
    HrOrganization-read:
      type: object
      deprecated: false
      description: HR organization resource.
      properties:
        id:
          type: integer
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        type:
          type: string
        parent:
          type:
          - integer
          - 'null'
        depth:
          type: integer
        code:
          type:
          - string
          - 'null'
    Contact-read:
      type: object
      deprecated: false
      description: Contact resource.
      properties:
        organizations:
          type: array
          items:
            $ref: '#/components/schemas/Organization-read'
        researchOrganizations:
          type:
          - array
          - 'null'
          items:
            type: string
        steeringGroups:
          type: array
          items:
            $ref: '#/components/schemas/SteeringGroup-read'
        hrOrganizations:
          type: array
          items:
            $ref: '#/components/schemas/HrOrganization-read'
        title:
          anyOf:
          - $ref: '#/components/schemas/Title-read'
          - type: 'null'
          owl:maxCardinality: 1
        fieldsOfScience:
          type: array
          items:
            $ref: '#/components/schemas/KeywordGroup-read'
        picture:
          type:
          - string
          - 'null'
        description:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        publicWorkDescription:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        currentStatus:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        tuhUri:
          type: object
          items:
            type: string
          properties:
            rss:
              type: object
              properties:
                clippings:
                  type: string
                activities:
                  type: string
                projects:
                  type: string
                publications:
                  type: string
            html:
              type: object
              properties:
                clippings:
                  type: string
                activities:
                  type: string
                projects:
                  type: string
                publications:
                  type: string
        twitterLink:
          type:
          - string
          - 'null'
        linkedinLink:
          type:
          - string
          - 'null'
        facebookLink:
          type:
          - string
          - 'null'
        instagramLink:
          type:
          - string
          - 'null'
        youtubeLink:
          type:
          - string
          - 'null'
        personalLinks:
          type: array
          items:
            type: string
          properties: {}
        id:
          type: integer
        firstnames:
          type: string
        lastname:
          type: string
        fullname:
          type: string
        email:
          type:
          - string
          - 'null'
        address:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        mobileNumber:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
        isPublic:
          type: boolean
          default: true
          example: true
      required:
      - email
      - fieldsOfScience
      - firstnames
      - fullname
      - lastname
    Contact.jsonld-read:
      type: object
      deprecated: false
      description: Contact resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        '@context':
          oneOf:
          - type: string
          - type: object
            additionalProperties: true
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
          readOnly: true
        organizations:
          type: array
          items:
            $ref: '#/components/schemas/Organization.jsonld-read'
        researchOrganizations:
          type:
          - array
          - 'null'
          items:
            type: string
        steeringGroups:
          type: array
          items:
            $ref: '#/components/schemas/SteeringGroup.jsonld-read'
        hrOrganizations:
          type: array
          items:
            $ref: '#/components/schemas/HrOrganization.jsonld-read'
        title:
          anyOf:
          - $ref: '#/components/schemas/Title.jsonld-read'
          - type: 'null'
          owl:maxCardinality: 1
        fieldsOfScience:
          type: array
          items:
            $ref: '#/components/schemas/KeywordGroup.jsonld-read'
        picture:
          type:
          - string
          - 'null'
        description:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        publicWorkDescription:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        currentStatus:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        tuhUri:
          type: object
          items:
            type: string
          properties:
            rss:
              type: object
              properties:
                clippings:
                  type: string
                activities:
                  type: string
                projects:
                  type: string
                publications:
                  type: string
            html:
              type: object
              properties:
                clippings:
                  type: string
                activities:
                  type: string
                projects:
                  type: string
                publications:
                  type: string
        twitterLink:
          type:
          - string
          - 'null'
        linkedinLink:
          type:
          - string
          - 'null'
        facebookLink:
          type:
          - string
          - 'null'
        instagramLink:
          type:
          - string
          - 'null'
        youtubeLink:
          type:
          - string
          - 'null'
        personalLinks:
          type: array
          items:
            type: string
          properties: {}
        id:
          type: integer
        firstnames:
          type: string
        lastname:
          type: string
        fullname:
          type: string
        email:
          type:
          - string
          - 'null'
        address:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        mobileNumber:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
        isPublic:
          type: boolean
          default: true
          example: true
      required:
      - email
      - fieldsOfScience
      - firstnames
      - fullname
      - lastname
    FieldOfScience.jsonld-read:
      type: object
      deprecated: false
      description: Field of science resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        id:
          type: integer
        label:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
      required:
      - label
    SteeringGroup.jsonld-read:
      type: object
      deprecated: false
      description: Steering Group resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        '@context':
          oneOf:
          - type: string
          - type: object
            additionalProperties: true
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
          readOnly: true
        id:
          type: integer
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        type:
          type: string
        parent:
          type:
          - integer
          - 'null'
        depth:
          type: integer
        code:
          type:
          - string
          - 'null'
    Title-read:
      type: object
      deprecated: false
      description: Title resource.
      properties:
        id:
          type: string
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
    FieldOfScience-read:
      type: object
      deprecated: false
      description: Field of science resource.
      properties:
        id:
          type: integer
        label:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
      required:
      - label
    HrOrganization.jsonld-read:
      type: object
      deprecated: false
      description: HR organization resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        '@context':
          oneOf:
          - type: string
          - type: object
            additionalProperties: true
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
          readOnly: true
        id:
          type: integer
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        type:
          type: string
        parent:
          type:
          - integer
          - 'null'
        depth:
          type: integer
        code:
          type:
          - string
          - 'null'
    SteeringGroup-read:
      type: object
      deprecated: false
      description: Steering Group resource.
      properties:
        id:
          type: integer
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
        type:
          type: string
        parent:
          type:
          - integer
          - 'null'
        depth:
          type: integer
        code:
          type:
          - string
          - 'null'
    Title.jsonld-read:
      type: object
      deprecated: false
      description: Title resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        id:
          type: string
        name:
          type: object
          items:
            type: string
          properties:
            en:
              type: string
            fi:
              type: string
            sv:
              type: string
    SteeringGroupMember-read:
      type: object
      deprecated: false
      description: Steering Group Member resource.
      properties:
        id:
          type: integer
          readOnly: true
        contact:
          anyOf:
          - $ref: '#/components/schemas/Contact-read'
          - type: 'null'
          owl:maxCardinality: 1
        steeringGroup:
          $ref: '#/components/schemas/SteeringGroup-read'
          owl:maxCardinality: 1
        studentName:
          type:
          - string
          - 'null'
    SteeringGroupMember.jsonld-read:
      type: object
      deprecated: false
      description: Steering Group Member resource.
      properties:
        '@id':
          type: string
          readOnly: true
        '@type':
          type: string
          readOnly: true
        id:
          type: integer
          readOnly: true
        contact:
          anyOf:
          - $ref: '#/components/schemas/Contact.jsonld-read'
          - type: 'null'
          owl:maxCardinality: 1
        steeringGroup:
          $ref: '#/components/schemas/SteeringGroup.jsonld-read'
          owl:maxCardinality: 1
        studentName:
          type:
          - string
          - 'null'
