openapi: 3.2.0
info:
  title: Laji Warehouse API
  description: '## Authentication


    This API requires an **Access Token**.'
  version: '1'
  contact: {}
servers:
- url: https://api.laji.fi
tags:
- name: Warehouse
paths:
  /warehouse/push:
    post:
      summary: Load data to the Data Warehouse
      description: Requires that API key has load permissions. Data is given in request body. Supports multiple data formats. See documentation. Accepts all payloads that pass format validation (for example is valid XML), but that does not mean the data will be processed succesfully.
      requestBody:
        description: See [documentation](https://info.laji.fi/en/frontpage/api/api-laji-fi/data-warehouse-api/etl-document-formats/) for complete reference. Can contain multiple documents.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseDwETL_DwRoot'
          application/xml:
            schema:
              type: string
          application/rdf+xml:
            schema:
              type: string
          text/plain:
            schema:
              type: string
          text/csv:
            schema:
              type: string
        required: true
      parameters:
      - name: sourceId
        in: query
        required: false
        description: Normally sourceId is received via the API key. By giving this parameter you can override the sourceId. API key must have permissions to use that sourceId.
        schema:
          type: string
      responses:
        '200':
          description: Accepted and stored for processing. Does not neccesarilly mean the data will be successfully processed. Returns "ok"
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Data was not accepted. Message tells why.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '403':
          description: Invalid credentials. Message has details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '429':
          description: Too many pending requests for the access_token; max is 12
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '500':
          description: Service is in unknown erroneous state.
          content:
            text/plain:
              schema:
                type: string
      tags:
      - Warehouse
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      operationId: postWarehousePush
      x-operation-id-source: derived
    delete:
      summary: Report document deleted
      description: Requires that API key has load permissions. Note that you can only delete documents from the source that is defined by access_token
      parameters:
      - name: documentId
        in: query
        required: true
        description: Document URI to be deleted.
        schema:
          type: string
      - name: sourceId
        in: query
        required: false
        description: Normally sourceId is received via the API key. By giving this parameter you can override the sourceId. API key must have permissions to use that sourceId.
        schema:
          type: string
      responses:
        '200':
          description: Accepted delete request. Does not neccesarilly mean there was anything to delete or that delete has gone through yet. Returns "ok"
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Data was not accepted. Message tells why.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '403':
          description: Invalid credentials. Message has details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '429':
          description: Too many pending requests for the access_token; max is 12
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '500':
          description: Service is in unknown erroneous state.
          content:
            text/plain:
              schema:
                type: string
      tags:
      - Warehouse
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      operationId: deleteWarehousePush
      x-operation-id-source: derived
  /warehouse/query/document:
    get:
      summary: Get single full document
      description: Get single full document by document URI. Contains the document, gatherings and units, including facts, media etc
      parameters:
      - name: format
        in: query
        required: false
        description: Alternative way to Accept header to define content type of the response.
        schema:
          type: string
          enum:
          - json
          - xml
      - name: documentId
        in: query
        required: true
        description: Full document ID (URI identifier)
        schema:
          type: string
      - name: selfAsEditor
        in: query
        required: false
        description: Search for records the user has save or modified. When using this filter, results come from the private warehouse! You  must provide a Person-Token header when using this filter.
        schema:
          type: boolean
      - name: selfAsObserver
        in: query
        required: false
        description: Search for records where the user has been marked as the observer. When using this filter, results come from the private warehouse! You  must provide a Person-Token header when using this filter.
        schema:
          type: boolean
      - name: selfAsEditorOrObserver
        in: query
        required: false
        description: Search for records the user has saved OR where marked as the observer. When using this filter, results come from the private warehouse! You  must provide a Person-Token header when using this filter.
        schema:
          type: boolean
      - name: selfIsNotEditorOrObserver
        in: query
        required: false
        description: Search for records where the user has not saved or observed the record (= everyone else's records). These come from the public warehouse! -> Results may contain records that have actually been saved by the user, but the info is not available in public (has been secured). You  must provide a Person-Token header when using this filter.
        schema:
          type: boolean
      - name: Permission-Token
        in: header
        required: false
        description: Use granted permissions to search the private warehouse
        schema:
          type: string
      - name: Person-Token
        in: header
        required: false
        description: Provide identify of the user that is using [selfAsEditor, selfAsObserver, selfAsEditorOrObserver, selfIsNotEditorOrObserver] filters.
        schema:
          type: string
      responses:
        '200':
          description: Succesful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwSingle_Document'
            application/xml:
              schema:
                type: string
        '400':
          description: Parameters were not accepted. Message has details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '403':
          description: Invalid credentials. Message has details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '429':
          description: Too many pending requests for the access_token; max is 12
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '500':
          description: Service is in unknown erroneous state.
          content:
            text/plain:
              schema:
                type: string
      tags:
      - Warehouse
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      operationId: getWarehouseQueryDocument
      x-operation-id-source: derived
  /warehouse/query/document/aggregate:
    get:
      summary: Perform aggregate queries (group by) on documents
      description: Aggregates the results of the query based on given "aggregateBy" parameters. Always includes count of rows (count(*)) to the result. Other aggregate functions vary based on the given parameters. Possible aggregate functions are [count, firstLoadDateMin, firstLoadDateMax, securedCount]
      parameters:
      - name: aggregateBy
        in: query
        required: false
        description: Define fields to aggregate by. Multiple values are seperated by ','.
        schema:
          type: array
          items:
            type: string
            enum:
            - document.collectionId
            - document.completeListTaxonId
            - document.completeListType
            - document.createdDate
            - document.createdDateMonth
            - document.dataSource
            - document.documentId
            - document.editorUserIds
            - document.facts.decimalValue
            - document.facts.fact
            - document.facts.integerValue
            - document.facts.value
            - document.firstLoadDate
            - document.formId
            - document.keywords
            - document.licenseId
            - document.linkings.collectionQuality
            - document.linkings.editors
            - document.loadDate
            - document.media.author
            - document.media.copyrightOwner
            - document.media.licenseId
            - document.media.mediaType
            - document.mediaCount
            - document.modifiedDate
            - document.namedPlace.alternativeId
            - document.namedPlace.alternativeIds
            - document.namedPlace.birdAssociationAreaDisplayName
            - document.namedPlace.birdAssociationAreaId
            - document.namedPlace.collectionId
            - document.namedPlace.id
            - document.namedPlace.municipalityDisplayName
            - document.namedPlace.municipalityId
            - document.namedPlace.name
            - document.namedPlace.wgs84CenterPoint.lat
            - document.namedPlace.wgs84CenterPoint.lon
            - document.namedPlace.ykj10km.lat
            - document.namedPlace.ykj10km.lon
            - document.namedPlaceId
            - document.notes
            - document.prefix
            - document.quality.issue.issue
            - document.quality.issue.source
            - document.randomKey
            - document.secureLevel
            - document.secureReasons
            - document.secured
            - document.siteDead
            - document.siteStatus
            - document.siteType
            - document.sourceId
      - name: orderBy
        in: query
        required: false
        description: 'Define what fields to use when sorting results. Defaults to count (desc) and each aggregate by field (asc). Each fieldname given as parameter defaults to ASC - if you want to sort using descending order, add " DESC" to the end of the field name. In addition to aggregateBy fields you can use the following aggregate function names: [count, firstLoadDateMin, firstLoadDateMax, securedCount]. Multiple values are seperated by '',''.'
        schema:
          type: array
          items:
            type: string
            enum:
            - document.collectionId
            - document.completeListTaxonId
            - document.completeListType
            - document.createdDate
            - document.createdDateMonth
            - document.dataSource
            - document.documentId
            - document.editorUserIds
            - document.facts.decimalValue
            - document.facts.fact
            - document.facts.integerValue
            - document.facts.value
            - document.firstLoadDate
            - document.formId
            - document.keywords
            - document.licenseId
            - document.linkings.collectionQuality
            - document.linkings.editors
            - document.loadDate
            - document.media.author
            - document.media.copyrightOwner
            - document.media.licenseId
            - document.media.mediaType
            - document.mediaCount
            - document.modifiedDate
            - document.namedPlace.alternativeId
            - document.namedPlace.alternativeIds
            - document.namedPlace.birdAssociationAreaDisplayName
            - document.namedPlace.birdAssociationAreaId
            - document.namedPlace.collectionId
            - document.namedPlace.id
            - document.namedPlace.municipalityDisplayName
            - document.namedPlace.municipalityId
            - document.namedPlace.name
            - document.namedPlace.wgs84CenterPoint.lat
            - document.namedPlace.wgs84CenterPoint.lon
            - document.namedPlace.ykj10km.lat
            - document.namedPlace.ykj10km.lon
            - document.namedPlaceId
            - document.notes
            - document.prefix
            - document.quality.issue.issue
            - document.quality.issue.source
            - document.randomKey
            - document.secureLevel
            - document.secureReasons
            - document.secured
            - document.siteDead
            - document.siteStatus
            - document.siteType
            - document.sourceId
            - count
            - firstLoadDateMin
            - firstLoadDateMax
            - securedCount
      - name: onlyCount
        in: query
        required: false
        description: Return only count of rows (default) or also additional aggregate function values.
        schema:
          type: boolean
          default: true
      - name: excludeNulls
        in: query
        required: false
        description: Include or exclude nulls to result. Will only check nullness of the first aggregateBy field.
        schema:
          type: boolean
          default: true
      - name: pessimisticDateRangeHandling
        in: query
        required: false
        description: 'Value of this parameter affects how oldestRecord and newestRecord are calculated regarding observations reported as date span. False (default): oldest=min(date.begin), newest=max(date.end). True: oldest=min(date.end), newest=max(date.begin).'
        schema:
          type: boolean
          default: false
      - name: pageSize
        in: query
        required: false
        description: Set number of results in one page.
        schema:
          type: integer
          default: 100
          minimum: 1
          maximum: 10000
      - name: page
        in: query
        required: false
        description: Set current page.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: cache
        in: query
        required: false
        description: Use cache for this query. Defaults to false.
        schema:
          type: boolean
          default: false
      - name: namedPlaceId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a NamedPlace. Use NamedPlace-API to find identifiers. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /named-places'
        schema:
          type: string
      - name: namedPlaceTag
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of MNP.tagEnum (use metadata-api to resolve identifiers) Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /metadata/ranges/MNP.tagEnum'
        schema:
          type: string
      - name: formId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a Vihko Notebook form that was used to report the entry. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /forms'
        schema:
          type: string
      - name: keyword
        in: query
        required: false
        description: Filter using keywords that have been tagged to entries. There are many types of keywods varying from legacy identifiers, project names and IDs, dataset ids, etc.  Will include records with quality issues (normally exluded by default). Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: collectionId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of collections. Use Collections-API to resolve identifiers. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /collections'
        schema:
          type: string
      - name: collectionIdExplicit
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of collections. Use Collections-API to resolve identifiers. Will not include child collections Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /collections'
        schema:
          type: string
      - name: collectionIdNot
        in: query
        required: false
        description: 'Exclude certain collections. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /collections'
        schema:
          type: string
      - name: collectionIdExplicitNot
        in: query
        required: false
        description: 'Exclude certain collection (only the specified collection, not child collections) Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /collections'
        schema:
          type: string
      - name: includeSubCollections
        in: query
        required: false
        description: Defines if collectionId filter should include sub collections of the given collection ids. By default sub collections are included.
        schema:
          type: boolean
      - name: sourceId
        in: query
        required: false
        description: 'Filter using identifiers of data sources (information systems). Use InformationSystem-API to resolve identifiers. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /sources'
        schema:
          type: string
      - name: documentId
        in: query
        required: false
        description: Filter using document URIs. Will include records with quality issues (normally exluded by default). Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: documentIdPrefix
        in: query
        required: false
        description: Filter using document URI prefix. For example prefix of http://id.luomus.fi/JA.1 is luomus:JA.  Will include records with quality issues (normally exluded by default). Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: loadedSameOrAfter
        in: query
        required: false
        description: Filter using the date data was loaded to Data Warehouse. Format is yyyy-MM-dd or UNIX EPOCH timestamp in seconds. Returns entries loaded later or on the same date/timestamp.
        schema:
          type: string
          format: yyyy-MM-dd
      - name: loadedSameOrBefore
        in: query
        required: false
        description: Filter using the date data was loaded to Data Warehouse. Format is yyyy-MM-dd or UNIX EPOCH timestamp in seconds. Returns entries loaded before or on the same date/timestamp.
        schema:
          type: string
          format: yyyy-MM-dd
      - name: firstLoadedSameOrAfter
        in: query
        required: false
        description: Filter using the date data was loaded to Data Warehouse (first load of document). Format is yyyy-MM-dd or UNIX EPOCH timestamp in seconds. Returns entries loaded later or on the same date/timestamp.
        schema:
          type: string
          format: yyyy-MM-dd
      - name: firstLoadedSameOrBefore
        in: query
        required: false
        description: Filter using the date data was loaded to Data Warehouse (first load of document). Format is yyyy-MM-dd or UNIX EPOCH timestamp in seconds. Returns entries loaded before or on the same date/timestamp.
        schema:
          type: string
          format: yyyy-MM-dd
      - name: createdDateYear
        in: query
        required: false
        description: Filter using the year the record was created
        schema:
          type: integer
      - name: hasDocumentMedia
        in: query
        required: false
        description: Filter only units where parent document has media or doesn't have media.
        schema:
          type: boolean
      - name: hasMedia
        in: query
        required: false
        description: Filter only records where parent document, gathering or unit has media or none have media.
        schema:
          type: boolean
      - name: secureReason
        in: query
        required: false
        description: Filter based on secure reasons. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
          enum:
          - DEFAULT_TAXON_CONSERVATION
          - BREEDING_SITE_CONSERVATION
          - NATURA_AREA_CONSERVATION
          - WINTER_SEASON_TAXON_CONSERVATION
          - BREEDING_SEASON_TAXON_CONSERVATION
          - CUSTOM
          - USER_HIDDEN
          - ADMIN_HIDDEN
          - DATA_QUARANTINE_PERIOD
          - ONLY_PRIVATE
          - USER_PERSON_NAMES_HIDDEN
          - USER_HIDDEN_LOCATION
          - USER_HIDDEN_TIME
      - name: secureLevel
        in: query
        required: false
        description: Filter based on secure level. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
          enum:
          - NOSHOW
          - HIGHEST
          - KM100
          - KM50
          - KM25
          - KM10
          - KM5
          - KM1
          - NONE
      - name: secured
        in: query
        required: false
        description: Include only those that are secured or those that are not secured.
        schema:
          type: boolean
      - name: qualityIssues
        in: query
        required: false
        description: 'Possible values: NO_ISSUES, BOTH, ONLY_ISSUES. Include records with quality issues (document, gathering or unit issues). Default is NO_ISSUES, but when searching by id (documentId, unitId, keyword) or using annotation endpoint the default is BOTH.'
        schema:
          type: string
          enum:
          - NO_ISSUES
          - BOTH
          - ONLY_ISSUES
          default: NO_ISSUES
      - name: collectionQuality
        in: query
        required: false
        description: Filter based on quality rating of collections. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
          enum:
          - PROFESSIONAL
          - HOBBYIST
          - AMATEUR
      - name: completeListTaxonId
        in: query
        required: false
        description: 'Show only records where document contains complete list for this higher taxon. For example include only records where all birds or mammals were documented, if they were seens -> something that is not documented was not seen. Use taxon IDs. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /taxa'
        schema:
          type: string
      - name: completeListType
        in: query
        required: false
        description: 'Show only records where document contains complete list and the list is of this type: URI or Qname identifier of MY.completeListTypeEnum (use metadata-api to resolve identifiers) Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /metadata/ranges/MY.completeListTypeEnum'
        schema:
          type: string
      - name: documentFact
        in: query
        required: false
        description: Format is "factName=value;otherFact=value". If value is not given (for example just "factName"), this filter matches all records that have the given fact. If value is a numeric range (for example "factName=-5.0/-1.5"), this filter matches all values where the value is between the range (inclusive). When multiple fact names are given, this is an AND search. For facts that are URIs, you can use full URI or Qname.
        schema:
          type: string
      - name: partition
        in: query
        required: false
        description: 'You can split search results into partitions. Syntax: ''1/5'' splits the results to five partitions and returns the first. Useful when downloading large lists of results and you want to split the task into smaller sub-queries.'
        schema:
          type: string
      - name: hasValue
        in: query
        required: false
        description: Name (or names) of fields that must be non-null for the occurrence to be included to results. The field must be from level document, gathering or unit (not for example annotation) and must not be an array field. Also, when quering gathering level, unit fields can not be used, etc. When multiple fields are listed, this is an AND search (all must be non-null). Multiple values are seperated by ','.
        schema:
          type: string
      - name: selfAsEditor
        in: query
        required: false
        description: Search for records the user has save or modified. When using this filter, results come from the private warehouse! You  must provide a Person-Token header when using this filter.
        schema:
          type: boolean
      - name: Permission-Token
        in: header
        required: false
        description: Use granted permissions to search the private warehouse
        schema:
          type: string
      - name: Person-Token
        in: header
        required: false
        description: Provide identify of the user that is using [selfAsEditor, selfAsObserver, selfAsEditorOrObserver, selfIsNotEditorOrObserver] filters.
        schema:
          type: string
      - name: format
        in: query
        required: false
        description: Alternative way to Accept header to define content type of the response.
        schema:
          type: string
          enum:
          - json
          - geojson
          - xml
          - csv
          - tsv
      responses:
        '200':
          description: Succesful query. Schema varies based on content-type of the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwQuery_AggregateResponse'
            application/geo+json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            text/tab-separated-values:
              schema:
                type: string
        '400':
          description: Parameters were not accepted. Message has details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '403':
          description: Invalid credentials. Message has details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '429':
          description: Too many pending requests for the access_token; max is 12
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '500':
          description: Service is in unknown erroneous state.
          content:
            text/plain:
              schema:
                type: string
      tags:
      - Warehouse
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      operationId: getWarehouseQueryDocumentAggregate
      x-operation-id-source: derived
  /warehouse/query/gathering/aggregate:
    get:
      summary: Perform aggregate queries (group by) on gatherings
      description: Aggregates the results of the query based on given "aggregateBy" parameters. Always includes count of rows (count(*)) to the result. Other aggregate functions vary based on the given parameters. Possible aggregate functions are [count, oldestRecord, newestRecord, lineLengthSum, firstLoadDateMin, firstLoadDateMax, securedCount]
      parameters:
      - name: aggregateBy
        in: query
        required: false
        description: Define fields to aggregate by. Multiple values are seperated by ','.
        schema:
          type: array
          items:
            type: string
            enum:
            - document.collectionId
            - document.completeListTaxonId
            - document.completeListType
            - document.createdDate
            - document.createdDateMonth
            - document.dataSource
            - document.documentId
            - document.editorUserIds
            - document.facts.decimalValue
            - document.facts.fact
            - document.facts.integerValue
            - document.facts.value
            - document.firstLoadDate
            - document.formId
            - document.keywords
            - document.licenseId
            - document.linkings.collectionQuality
            - document.linkings.editors
            - document.loadDate
            - document.media.author
            - document.media.copyrightOwner
            - document.media.licenseId
            - document.media.mediaType
            - document.mediaCount
            - document.modifiedDate
            - document.namedPlace.alternativeId
            - document.namedPlace.alternativeIds
            - document.namedPlace.birdAssociationAreaDisplayName
            - document.namedPlace.birdAssociationAreaId
            - document.namedPlace.collectionId
            - document.namedPlace.id
            - document.namedPlace.municipalityDisplayName
            - document.namedPlace.municipalityId
            - document.namedPlace.name
            - document.namedPlace.wgs84CenterPoint.lat
            - document.namedPlace.wgs84CenterPoint.lon
            - document.namedPlace.ykj10km.lat
            - document.namedPlace.ykj10km.lon
            - document.namedPlaceId
            - document.prefix
            - document.quality.issue.issue
            - document.quality.issue.source
            - document.secureLevel
            - document.secureReasons
            - document.secured
            - document.siteDead
            - document.siteStatus
            - document.siteType
            - document.sourceId
            - gathering.accurateArea
            - gathering.biogeographicalProvince
            - gathering.conversions.birdAssociationArea
            - gathering.conversions.boundingBoxAreaInSquareMeters
            - gathering.conversions.century
            - gathering.conversions.day
            - gathering.conversions.dayOfYearBegin
            - gathering.conversions.dayOfYearEnd
            - gathering.conversions.decade
            - gathering.conversions.euref.latMax
            - gathering.conversions.euref.latMin
            - gathering.conversions.euref.lonMax
            - gathering.conversions.euref.lonMin
            - gathering.conversions.eurefCenterPoint.lat
            - gathering.conversions.eurefCenterPoint.lon
            - gathering.conversions.linelengthInMeters
            - gathering.conversions.month
            - gathering.conversions.seasonBegin
            - gathering.conversions.seasonEnd
            - gathering.conversions.wgs84.latMax
            - gathering.conversions.wgs84.latMin
            - gathering.conversions.wgs84.lonMax
            - gathering.conversions.wgs84.lonMin
            - gathering.conversions.wgs84CenterPoint.lat
            - gathering.conversions.wgs84CenterPoint.lon
            - gathering.conversions.wgs84Grid005.lat
            - gathering.conversions.wgs84Grid005.lon
            - gathering.conversions.wgs84Grid01.lat
            - gathering.conversions.wgs84Grid01.lon
            - gathering.conversions.wgs84Grid05.lat
            - gathering.conversions.wgs84Grid05.lon
            - gathering.conversions.wgs84Grid1.lat
            - gathering.conversions.wgs84Grid1.lon
            - gathering.conversions.year
            - gathering.conversions.ykj.latMax
            - gathering.conversions.ykj.latMin
            - gathering.conversions.ykj.lonMax
            - gathering.conversions.ykj.lonMin
            - gathering.conversions.ykj100km.lat
            - gathering.conversions.ykj100km.lon
            - gathering.conversions.ykj100kmCenter.lat
            - gathering.conversions.ykj100kmCenter.lon
            - gathering.conversions.ykj10km.lat
            - gathering.conversions.ykj10km.lon
            - gathering.conversions.ykj10kmCenter.lat
            - gathering.conversions.ykj10kmCenter.lon
            - gathering.conversions.ykj1km.lat
            - gathering.conversions.ykj1km.lon
            - gathering.conversions.ykj1kmCenter.lat
            - gathering.conversions.ykj1kmCenter.lon
            - gathering.conversions.ykj50km.lat
            - gathering.conversions.ykj50km.lon
            - gathering.conversions.ykj50kmCenter.lat
            - gathering.conversions.ykj50kmCenter.lon
            - gathering.coordinatesVerbatim
            - gathering.country
            - gathering.displayDateTime
            - gathering.eventDate.begin
            - gathering.eventDate.end
            - gathering.facts.decimalValue
            - gathering.facts.fact
            - gathering.facts.integerValue
            - gathering.facts.value
            - gathering.gatheringId
            - gathering.gatheringOrder
            - gathering.gatheringSection
            - gathering.higherGeography
            - gathering.hourBegin
            - gathering.hourEnd
            - gathering.interpretations.biogeographicalProvince
            - gathering.interpretations.biogeographicalProvinceDisplayname
            - gathering.interpretations.coordinateAccuracy
            - gathering.interpretations.country
            - gathering.interpretations.countryDisplayname
            - gathering.interpretations.finnishMunicipality
            - gathering.interpretations.municipalityDisplayname
            - gathering.interpretations.sourceOfBiogeographicalProvince
            - gathering.interpretations.sourceOfCoordinates
            - gathering.interpretations.sourceOfCountry
            - gathering.interpretations.sourceOfFinnishMunicipality
            - gathering.linkings.observers
            - gathering.locality
            - gathering.media.author
            - gathering.media.copyrightOwner
            - gathering.media.licenseId
            - gathering.media.mediaType
            - gathering.mediaCount
            - gathering.minutesBegin
            - gathering.minutesEnd
            - gathering.municipality
            - gathering.notes
            - gathering.observerUserIds
            - gathering.province
            - gathering.quality.issue.issue
            - gathering.quality.issue.source
            - gathering.quality.locationIssue.issue
            - gathering.quality.locationIssue.source
            - gathering.quality.timeIssue.issue
            - gathering.quality.timeIssue.source
            - gathering.stateLand
            - gathering.taxonCensus.taxonId
            - gathering.taxonCensus.type
            - gathering.team
            - gathering.team.memberId
            - gathering.team.memberName
      - name: orderBy
        in: query
        required: false
        description: 'Define what fields to use when sorting results. Defaults to count (desc) and each aggregate by field (asc). Each fieldname given as parameter defaults to ASC - if you want to sort using descending order, add " DESC" to the end of the field name. In addition to aggregateBy fields you can use the following aggregate function names: [count, oldestRecord, newestRecord, lineLengthSum, firstLoadDateMin, firstLoadDateMax, securedCount]. Multiple values are seperated by '',''.'
        schema:
          type: array
          items:
            type: string
            enum:
            - document.collectionId
            - document.completeListTaxonId
            - document.completeListType
            - document.createdDate
            - document.createdDateMonth
            - document.dataSource
            - document.documentId
            - document.editorUserIds
            - document.facts.decimalValue
            - document.facts.fact
            - document.facts.integerValue
            - document.facts.value
            - document.firstLoadDate
            - document.formId
            - document.keywords
            - document.licenseId
            - document.linkings.collectionQuality
            - document.linkings.editors
            - document.loadDate
            - document.media.author
            - document.media.copyrightOwner
            - document.media.licenseId
            - document.media.mediaType
            - document.mediaCount
            - document.modifiedDate
            - document.namedPlace.alternativeId
            - document.namedPlace.alternativeIds
            - document.namedPlace.birdAssociationAreaDisplayName
            - document.namedPlace.birdAssociationAreaId
            - document.namedPlace.collectionId
            - document.namedPlace.id
            - document.namedPlace.municipalityDisplayName
            - document.namedPlace.municipalityId
            - document.namedPlace.name
            - document.namedPlace.wgs84CenterPoint.lat
            - document.namedPlace.wgs84CenterPoint.lon
            - document.namedPlace.ykj10km.lat
            - document.namedPlace.ykj10km.lon
            - document.namedPlaceId
            - document.prefix
            - document.quality.issue.issue
            - document.quality.issue.source
            - document.secureLevel
            - document.secureReasons
            - document.secured
            - document.siteDead
            - document.siteStatus
            - document.siteType
            - document.sourceId
            - gathering.accurateArea
            - gathering.biogeographicalProvince
            - gathering.conversions.birdAssociationArea
            - gathering.conversions.boundingBoxAreaInSquareMeters
            - gathering.conversions.century
            - gathering.conversions.day
            - gathering.conversions.dayOfYearBegin
            - gathering.conversions.dayOfYearEnd
            - gathering.conversions.decade
            - gathering.conversions.euref.latMax
            - gathering.conversions.euref.latMin
            - gathering.conversions.euref.lonMax
            - gathering.conversions.euref.lonMin
            - gathering.conversions.eurefCenterPoint.lat
            - gathering.conversions.eurefCenterPoint.lon
            - gathering.conversions.linelengthInMeters
            - gathering.conversions.month
            - gathering.conversions.seasonBegin
            - gathering.conversions.seasonEnd
            - gathering.conversions.wgs84.latMax
            - gathering.conversions.wgs84.latMin
            - gathering.conversions.wgs84.lonMax
            - gathering.conversions.wgs84.lonMin
            - gathering.conversions.wgs84CenterPoint.lat
            - gathering.conversions.wgs84CenterPoint.lon
            - gathering.conversions.wgs84Grid005.lat
            - gathering.conversions.wgs84Grid005.lon
            - gathering.conversions.wgs84Grid01.lat
            - gathering.conversions.wgs84Grid01.lon
            - gathering.conversions.wgs84Grid05.lat
            - gathering.conversions.wgs84Grid05.lon
            - gathering.conversions.wgs84Grid1.lat
            - gathering.conversions.wgs84Grid1.lon
            - gathering.conversions.year
            - gathering.conversions.ykj.latMax
            - gathering.conversions.ykj.latMin
            - gathering.conversions.ykj.lonMax
            - gathering.conversions.ykj.lonMin
            - gathering.conversions.ykj100km.lat
            - gathering.conversions.ykj100km.lon
            - gathering.conversions.ykj100kmCenter.lat
            - gathering.conversions.ykj100kmCenter.lon
            - gathering.conversions.ykj10km.lat
            - gathering.conversions.ykj10km.lon
            - gathering.conversions.ykj10kmCenter.lat
            - gathering.conversions.ykj10kmCenter.lon
            - gathering.conversions.ykj1km.lat
            - gathering.conversions.ykj1km.lon
            - gathering.conversions.ykj1kmCenter.lat
            - gathering.conversions.ykj1kmCenter.lon
            - gathering.conversions.ykj50km.lat
            - gathering.conversions.ykj50km.lon
            - gathering.conversions.ykj50kmCenter.lat
            - gathering.conversions.ykj50kmCenter.lon
            - gathering.coordinatesVerbatim
            - gathering.country
            - gathering.displayDateTime
            - gathering.eventDate.begin
            - gathering.eventDate.end
            - gathering.facts.decimalValue
            - gathering.facts.fact
            - gathering.facts.integerValue
            - gathering.facts.value
            - gathering.gatheringId
            - gathering.gatheringOrder
            - gathering.gatheringSection
            - gathering.higherGeography
            - gathering.hourBegin
            - gathering.hourEnd
            - gathering.interpretations.biogeographicalProvince
            - gathering.interpretations.biogeographicalProvinceDisplayname
            - gathering.interpretations.coordinateAccuracy
            - gathering.interpretations.country
            - gathering.interpretations.countryDisplayname
            - gathering.interpretations.finnishMunicipality
            - gathering.interpretations.municipalityDisplayname
            - gathering.interpretations.sourceOfBiogeographicalProvince
            - gathering.interpretations.sourceOfCoordinates
            - gathering.interpretations.sourceOfCountry
            - gathering.interpretations.sourceOfFinnishMunicipality
            - gathering.linkings.observers
            - gathering.locality
            - gathering.media.author
            - gathering.media.copyrightOwner
            - gathering.media.licenseId
            - gathering.media.mediaType
            - gathering.mediaCount
            - gathering.minutesBegin
            - gathering.minutesEnd
            - gathering.municipality
            - gathering.notes
            - gathering.observerUserIds
            - gathering.province
            - gathering.quality.issue.issue
            - gathering.quality.issue.source
            - gathering.quality.locationIssue.issue
            - gathering.quality.locationIssue.source
            - gathering.quality.timeIssue.issue
            - gathering.quality.timeIssue.source
            - gathering.stateLand
            - gathering.taxonCensus.taxonId
            - gathering.taxonCensus.type
            - gathering.team
            - gathering.team.memberId
            - gathering.team.memberName
            - count
            - oldestRecord
            - newestRecord
            - lineLengthSum
            - firstLoadDateMin
            - firstLoadDateMax
            - securedCount
      - name: crs
        in: query
        required: false
        description: 'For GeoJSON requests there are two additional parameters: crs and featureType. This controls the coordinate reference system used in the returned GeoJSON features. (WGS84 = EPSG:4326; EUREF = ETRS-TM35FIN EPSG:3067; YKJ = EPSG:2393)'
        schema:
          type: string
          enum:
          - WGS84
          - EUREF
          - YKJ
      - name: featureType
        in: query
        required: false
        description: 'For GeoJSON requests there are two additional parameters: crs and featureType. This controls the type of returned GeoJSON features.'
        schema:
          type: string
          enum:
          - CENTER_POINT
          - ENVELOPE
          - ORIGINAL_FEATURE
      - name: onlyCount
        in: query
        required: false
        description: Return only count of rows (default) or also additional aggregate function values.
        schema:
          type: boolean
          default: true
      - name: excludeNulls
        in: query
        required: false
        description: Include or exclude nulls to result. Will only check nullness of the first aggregateBy field.
        schema:
          type: boolean
          default: true
      - name: pessimisticDateRangeHandling
        in: query
        required: false
        description: 'Value of this parameter affects how oldestRecord and newestRecord are calculated regarding observations reported as date span. False (default): oldest=min(date.begin), newest=max(date.end). True: oldest=min(date.end), newest=max(date.begin).'
        schema:
          type: boolean
          default: false
      - name: pageSize
        in: query
        required: false
        description: Set number of results in one page.
        schema:
          type: integer
          default: 100
          minimum: 1
          maximum: 10000
      - name: page
        in: query
        required: false
        description: Set current page.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: cache
        in: query
        required: false
        description: Use cache for this query. Defaults to false.
        schema:
          type: boolean
          default: false
      - name: countryId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a country. Use Area-API to find identifiers. Will return entries where we have been able to interpret the country from coordinates or from reported area name. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: finnishMunicipalityId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a finnish municipality. Use Area-API to find identifiers. Will return entries where we have been able to interpret the municipality from coordinates or from reported area name. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: biogeographicalProvinceId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a biogeographical province. Use Area-API to find identifiers. Will return entries where we have been able to interpret the province from coordinates or from reported area name. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: elyCentreId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a ELY centre. Use Area-API to find identifiers. Implementation is based on municipality interpretations. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: provinceId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a Finnish province. Use Area-API to find identifiers. Implementation is based on municipality interpretations. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: area
        in: query
        required: false
        description: Filter using name of country, municipality, province or locality. If the given name matches exactly one known area, the search will perform an identifier search. Otherwise the search looks from country verbatim, municipality verbatim, province verbatim and locality using exact match case insensitive search. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: namedPlaceId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a NamedPlace. Use NamedPlace-API to find identifiers. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /named-places'
        schema:
          type: string
      - name: namedPlaceTag
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of MNP.tagEnum (use metadata-api to resolve identifiers) Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /metadata/ranges/MNP.tagEnum'
        schema:
          type: string
      - name: birdAssociationAreaId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a BirdAssociationArea. Use Area-API to find identifiers. Bird association area is interpreted based on YKJ 10KM grids (the grid the occurrence centerpoint is in). Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: formId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a Vihko Notebook form that was used to report the entry. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /forms'
        schema:
          type: string
      - name: time
        in: query
        required: false
        description: 'Filter using event date. Date can be a full date or part of a date, for example 2000, 2000-06 or 2000-06-25. Time can be a range, for example 2000/2005 or 2000-01-01/2005-12-31. Relative days "last N days" can be used: 0 is today, -1 is yesterday and so on; for example -7/0 is a range between 7 days ago and today. Multiple values are seperated by '',''. When multiple values are given, this is an OR search.'
        schema:
          type: string
      - name: timeAccuracy
        in: query
        required: false
        description: Filter using event date accuracy range in days. Will include entries where time span in days is less or equal to the given value.
        schema:
          type: integer
      - name: yearMonth
        in: query
        required: false
        description: 'Filter using event date. Value can be a year (2000), year range (2000/2001), year-month (2000-06) or a year-month range (2000-06/2000-08). (Note: this filter is mostly aimed to be used in /statistics queries because ''time'' filter is not available for /statistics queries.) Multiple values are seperated by '',''. When multiple values are given, this is an OR search.'
        schema:
          type: string
      - name: dayOfYear
        in: query
        required: false
        description: Filter using day of year. For example "100/160" gives all records during spring and "330/30" during mid winter. If begin is ommited will use day 1 and if end is ommited will use day 366. Multiple ranges can be given by providing the parameter more times. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: season
        in: query
        required: false
        description: Filter using season. For example "501/630" gives all records for May and July and "1220/0220" between 20.12. - 20.2. If begin is ommited will use 1.1. and if end is ommited will use 31.12. Multiple ranges can be given by providing the parameter more times. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: keyword
        in: query
        required: false
        description: Filter using keywords that have been tagged to entries. There are many types of keywods varying from legacy identifiers, project names and IDs, dataset ids, etc.  Will include records with quality issues (normally exluded by default). Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: collectionId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of collections. Use Collections-API to resolve identifiers. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /collections'
        schema:
          type: string
      - name: collectionIdExplicit
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of collections. Use Collections-API to resolve identifiers. Will not include child collections Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /collections'
        schema:
          type: string
      - name: collectionIdNot
        in: query
        required: false
        description: 'Exclude certain collections. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /collections'
        schema:
          type: string
      - name: collectionIdExplicitNot
        in: query
        required: false
        description: 'Exclude certain collection (only the specified collection, not child collections) Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /collections'
        schema:
          type: string
      - name: includeSubCollections
        in: query
        required: false
        description: Defines if collectionId filter should include sub collections of the given collection ids. By default sub collections are included.
        schema:
          type: boolean
      - name: sourceId
        in: query
        required: false
        description: 'Filter using identifiers of data sources (information systems). Use InformationSystem-API to resolve identifiers. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /sources'
        schema:
          type: string
      - name: documentId
        in: query
        required: false
        description: Filter using document URIs. Will include records with quality issues (normally exluded by default). Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: documentIdPrefix
        in: query
        required: false
        description: Filter using document URI prefix. For example prefix of http://id.luomus.fi/JA.1 is luomus:JA.  Will include records with quality issues (normally exluded by default). Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: gatheringId
        in: query
        required: false
        description: Filter using gathering URIs. Will include records with quality issues (normally exluded by default). Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: loadedSameOrAfter
        in: query
        required: false
        description: Filter using the date data was loaded to Data Warehouse. Format is yyyy-MM-dd or UNIX EPOCH timestamp in seconds. Returns entries loaded later or on the same date/timestamp.
        schema:
          type: string
          format: yyyy-MM-dd
      - name: loadedSameOrBefore
        in: query
        required: false
        description: Filter using the date data was loaded to Data Warehouse. Format is yyyy-MM-dd or UNIX EPOCH timestamp in seconds. Returns entries loaded before or on the same date/timestamp.
        schema:
          type: string
          format: yyyy-MM-dd
      - name: firstLoadedSameOrAfter
        in: query
        required: false
        description: Filter using the date data was loaded to Data Warehouse (first load of document). Format is yyyy-MM-dd or UNIX EPOCH timestamp in seconds. Returns entries loaded later or on the same date/timestamp.
        schema:
          type: string
          format: yyyy-MM-dd
      - name: firstLoadedSameOrBefore
        in: query
        required: false
        description: Filter using the date data was loaded to Data Warehouse (first load of document). Format is yyyy-MM-dd or UNIX EPOCH timestamp in seconds. Returns entries loaded before or on the same date/timestamp.
        schema:
          type: string
          format: yyyy-MM-dd
      - name: createdDateYear
        in: query
        required: false
        description: Filter using the year the record was created
        schema:
          type: integer
      - name: coordinates
        in: query
        required: false
        description: 'Filter using coordinates. Valid formats are latMin:latMax:lonMin:lonMax:CRS:ratio and lat:lon:CRS:ratio. The last parameter (ratio) is not required. Valid CRSs are WGS84, YKJ and EUREF (WGS84 = EPSG:4326; EUREF = ETRS-TM35FIN EPSG:3067; YKJ = EPSG:2393). For metric coordinates (ykj, euref): the search 666:333:YKJ means lat between 6660000-6670000 and lon between 3330000-3340000. Ratio is a number between 0.0-1.0. Default ratio is 1.0 (observation area must be entirely inside the search area). Ratio 0.0: the search area must intersect with the observation area. For WGS84 the ratio is not calculated in meters but in degrees so it an approximation. Multiple values are seperated by '',''. When multiple values are given, this is an OR search.'
        schema:
          type: string
      - name: polygon
        in: query
        required: false
        description: Filter centerpoint of occurrences by polygon. Valid formats are WKT and WKT:CRS. Valid CRSs are WGS84, YKJ and EUREF (default) (WGS84 = EPSG:4326; EUREF = ETRS-TM35FIN EPSG:3067; YKJ = EPSG:2393).  Polygon search is implemented only for Finland (based on ETRS-TM35FIN coordinate system). WKT must be somewhat shorter than 4000 chars. To overcome this limitation use polygonId filter and /polygon/ endpoint to get the polygonIds.
        schema:
          type: string
      - name: polygonId
        in: query
        required: false
        description: Filter centerpoint occurrences using ID of a search polygon. Use /polygon/ endpoint to get id if the polygon.
        schema:
          type: string
      - name: coordinateAccuracyMax
        in: query
        required: false
        description: Exclude coordinates that are less accurate or equal than the provided value (inclusive). Value is meters. Accuracy is a guiding logaritmic figure, for example 1m, 10m, 100m or 100km. (More specifically the longest length of the area bouding box rounded up on the logarithmic scale.)
        schema:
          type: integer
      - name: wgs84CenterPoint
        in: query
        required: false
        description: Filter using WGS84 (EPSG:4326) centerpoint. Valid formats are lat:lon:WGS84 and latMin:latMax:lonMin:lonMax:WGS84. (You must include the crs WGS84 even though it is the only supported type.) Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: ykj1km
        in: query
        required: false
        description: Filter using uniform (YKJ, EPSG:2393) 1km grid square(s). Valid format is lat:lon. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: ykj10km
        in: query
        required: false
        description: Filter using uniform (YKJ, EPSG:2393) 10km grid square(s). Valid format is lat:lon. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: ykj50km
        in: query
        required: false
        description: Filter using uniform (YKJ, EPSG:2393) 50km grid square(s). Valid format is lat:lon. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: ykj100km
        in: query
        required: false
        description: Filter using uniform (YKJ, EPSG:2393) 100km grid square(s). Valid format is lat:lon. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: ykj1kmCenter
        in: query
        required: false
        description: Filter using uniform (YKJ, EPSG:2393) 1km grid square(s) that are resolved using center point of the area. Valid format is lat:lon. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: ykj10kmCenter
        in: query
        required: false
        description: Filter using uniform (YKJ, EPSG:2393) 10km grid square(s) that are resolved using center point of the area. Valid format is lat:lon. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: ykj50kmCenter
        in: query
        required: false
        description: Filter using uniform (YKJ, EPSG:2393) 50km grid square(s) that are resolved using center point of the area. Valid format is lat:lon. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: ykj100kmCenter
        in: query
        required: false
        description: Filter using uniform (YKJ, EPSG:2393) 100km grid square(s) that are resolved using center point of the area. Valid format is lat:lon. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: sourceOfCoordinates
        in: query
        required: false
        description: Filter based on source of coordinates. Possible values are REPORTED_VALUE = the reported coordinates or FINNISH_MUNICIPALITY = the coordinates are the bounding box of the reported Finnish municipality (no coordinates were reported). Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
          enum:
          - COORDINATES
          - COORDINATE_CENTERPOINT
          - REPORTED_VALUE
          - FINNISH_MUNICIPALITY
          - OLD_FINNISH_MUNICIPALITY
      - name: hasDocumentMedia
        in: query
        required: false
        description: Filter only units where parent document has media or doesn't have media.
        schema:
          type: boolean
      - name: hasGatheringMedia
        in: query
        required: false
        description: Filter only units where parent gathering has media or doesn't have media.
        schema:
          type: boolean
      - name: hasMedia
        in: query
        required: false
        description: Filter only records where parent document, gathering or unit has media or none have media.
        schema:
          type: boolean
      - name: teamMember
        in: query
        required: false
        description: Filter based on verbatim observer names. Search is case insensitive and wildcard * can be used. Multiple values are seperated by ';'. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: teamMemberId
        in: query
        required: false
        description: Filter based on ids of verbatim observer name strings. (The only way to access these ids is to aggregate by gathering.team.memberId) Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: secureReason
        in: query
        required: false
        description: Filter based on secure reasons. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
          enum:
          - DEFAULT_TAXON_CONSERVATION
          - BREEDING_SITE_CONSERVATION
          - NATURA_AREA_CONSERVATION
          - WINTER_SEASON_TAXON_CONSERVATION
          - BREEDING_SEASON_TAXON_CONSERVATION
          - CUSTOM
          - USER_HIDDEN
          - ADMIN_HIDDEN
          - DATA_QUARANTINE_PERIOD
          - ONLY_PRIVATE
          - USER_PERSON_NAMES_HIDDEN
          - USER_HIDDEN_LOCATION
          - USER_HIDDEN_TIME
      - name: secureLevel
        in: query
        required: false
        description: Filter based on secure level. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
          enum:
          - NOSHOW
          - HIGHEST
          - KM100
          - KM50
          - KM25
          - KM10
          - KM5
          - KM1
          - NONE
      - name: secured
        in: query
        required: false
        description: Include only those that are secured or those that are not secured.
        schema:
          type: boolean
      - name: qualityIssues
        in: query
        required: false
        description: 'Possible values: NO_ISSUES, BOTH, ONLY_ISSUES. Include records with quality issues (document, gathering or unit issues). Default is NO_ISSUES, but when searching by id (documentId, unitId, keyword) or using annotation endpoint the default is BOTH.'
        schema:
          type: string
          enum:
          - NO_ISSUES
          - BOTH
          - ONLY_ISSUES
          default: NO_ISSUES
      - name: collectionQuality
        in: query
        required: false
        description: Filter based on quality rating of collections. Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
          enum:
          - PROFESSIONAL
          - HOBBYIST
          - AMATEUR
      - name: completeListTaxonId
        in: query
        required: false
        description: 'Show only records where document contains complete list for this higher taxon. For example include only records where all birds or mammals were documented, if they were seens -> something that is not documented was not seen. Use taxon IDs. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /taxa'
        schema:
          type: string
      - name: completeListType
        in: query
        required: false
        description: 'Show only records where document contains complete list and the list is of this type: URI or Qname identifier of MY.completeListTypeEnum (use metadata-api to resolve identifiers) Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /metadata/ranges/MY.completeListTypeEnum'
        schema:
          type: string
      - name: taxonCensus
        in: query
        required: false
        description: 'Show only records where observations are completely recorded for this higher taxon. For example include only records where all birds or mammals were documented, if they were seens -> something that is not documented was not seen. Use taxon IDs. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /taxa'
        schema:
          type: string
      - name: gatheringFact
        in: query
        required: false
        description: Format is "factName=value;otherFact=value". If value is not given (for example just "factName"), this filter matches all records that have the given fact. If value is a numeric range (for example "factName=-5.0/-1.5"), this filter matches all values where the value is between the range (inclusive). When multiple fact names are given, this is an AND search. For facts that are URIs, you can use full URI or Qname.
        schema:
          type: string
      - name: documentFact
        in: query
        required: false
        description: Format is "factName=value;otherFact=value". If value is not given (for example just "factName"), this filter matches all records that have the given fact. If value is a numeric range (for example "factName=-5.0/-1.5"), this filter matches all values where the value is between the range (inclusive). When multiple fact names are given, this is an AND search. For facts that are URIs, you can use full URI or Qname.
        schema:
          type: string
      - name: partition
        in: query
        required: false
        description: 'You can split search results into partitions. Syntax: ''1/5'' splits the results to five partitions and returns the first. Useful when downloading large lists of results and you want to split the task into smaller sub-queries.'
        schema:
          type: string
      - name: hasValue
        in: query
        required: false
        description: Name (or names) of fields that must be non-null for the occurrence to be included to results. The field must be from level document, gathering or unit (not for example annotation) and must not be an array field. Also, when quering gathering level, unit fields can not be used, etc. When multiple fields are listed, this is an AND search (all must be non-null). Multiple values are seperated by ','.
        schema:
          type: string
      - name: selfAsEditor
        in: query
        required: false
        description: Search for records the user has save or modified. When using this filter, results come from the private warehouse! You  must provide a Person-Token header when using this filter.
        schema:
          type: boolean
      - name: selfAsObserver
        in: query
        required: false
        description: Search for records where the user has been marked as the observer. When using this filter, results come from the private warehouse! You  must provide a Person-Token header when using this filter.
        schema:
          type: boolean
      - name: selfAsEditorOrObserver
        in: query
        required: false
        description: Search for records the user has saved OR where marked as the observer. When using this filter, results come from the private warehouse! You  must provide a Person-Token header when using this filter.
        schema:
          type: boolean
      - name: selfIsNotEditorOrObserver
        in: query
        required: false
        description: Search for records where the user has not saved or observed the record (= everyone else's records). These come from the public warehouse! -> Results may contain records that have actually been saved by the user, but the info is not available in public (has been secured). You  must provide a Person-Token header when using this filter.
        schema:
          type: boolean
      - name: Permission-Token
        in: header
        required: false
        description: Use granted permissions to search the private warehouse
        schema:
          type: string
      - name: Person-Token
        in: header
        required: false
        description: Provide identify of the user that is using [selfAsEditor, selfAsObserver, selfAsEditorOrObserver, selfIsNotEditorOrObserver] filters.
        schema:
          type: string
      - name: format
        in: query
        required: false
        description: Alternative way to Accept header to define content type of the response.
        schema:
          type: string
          enum:
          - json
          - geojson
          - xml
          - csv
          - tsv
      responses:
        '200':
          description: Succesful query. Schema varies based on content-type of the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwQuery_AggregateResponse'
            application/geo+json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            text/tab-separated-values:
              schema:
                type: string
        '400':
          description: Parameters were not accepted. Message has details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '403':
          description: Invalid credentials. Message has details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '429':
          description: Too many pending requests for the access_token; max is 12
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '500':
          description: Service is in unknown erroneous state.
          content:
            text/plain:
              schema:
                type: string
      tags:
      - Warehouse
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      operationId: getWarehouseQueryGatheringAggregate
      x-operation-id-source: derived
  /warehouse/query/gathering/statistics:
    get:
      summary: Perform aggregate queries on gatherings to PRIVATE side of the data warehouse
      description: Functionality is same as normal /aggregate API except functionaly is limited to only certain collections, filters and aggregateBy fields. CollectionId filter is required and only certain collections are allowed.
      parameters:
      - name: aggregateBy
        in: query
        required: false
        description: Define fields to aggregate by. Multiple values are seperated by ','.
        schema:
          type: array
          items:
            type: string
            enum:
            - document.documentId
            - document.namedPlace.birdAssociationAreaDisplayName
            - document.namedPlace.birdAssociationAreaId
            - document.namedPlace.collectionId
            - document.namedPlace.id
            - document.namedPlace.municipalityDisplayName
            - document.namedPlace.municipalityId
            - document.namedPlace.name
            - document.namedPlace.ykj10km.lat
            - document.namedPlace.ykj10km.lon
            - document.namedPlaceId
            - document.prefix
            - gathering.conversions.birdAssociationArea
            - gathering.conversions.day
            - gathering.conversions.dayOfYearBegin
            - gathering.conversions.dayOfYearEnd
            - gathering.conversions.month
            - gathering.conversions.seasonBegin
            - gathering.conversions.seasonEnd
            - gathering.conversions.year
            - gathering.conversions.ykj10km.lat
            - gathering.conversions.ykj10km.lon
            - gathering.conversions.ykj10kmCenter.lat
            - gathering.conversions.ykj10kmCenter.lon
            - gathering.eventDate.begin
            - gathering.eventDate.end
            - gathering.gatheringSection
      - name: orderBy
        in: query
        required: false
        description: 'Define what fields to use when sorting results. Defaults to count (desc) and each aggregate by field (asc). Each fieldname given as parameter defaults to ASC - if you want to sort using descending order, add " DESC" to the end of the field name. In addition to aggregateBy fields you can use the following aggregate function names: [count, oldestRecord, newestRecord, lineLengthSum, firstLoadDateMin, firstLoadDateMax, securedCount]. Multiple values are seperated by '',''.'
        schema:
          type: array
          items:
            type: string
            enum:
            - document.documentId
            - document.namedPlace.birdAssociationAreaDisplayName
            - document.namedPlace.birdAssociationAreaId
            - document.namedPlace.collectionId
            - document.namedPlace.id
            - document.namedPlace.municipalityDisplayName
            - document.namedPlace.municipalityId
            - document.namedPlace.name
            - document.namedPlace.ykj10km.lat
            - document.namedPlace.ykj10km.lon
            - document.namedPlaceId
            - document.prefix
            - gathering.conversions.birdAssociationArea
            - gathering.conversions.day
            - gathering.conversions.dayOfYearBegin
            - gathering.conversions.dayOfYearEnd
            - gathering.conversions.month
            - gathering.conversions.seasonBegin
            - gathering.conversions.seasonEnd
            - gathering.conversions.year
            - gathering.conversions.ykj10km.lat
            - gathering.conversions.ykj10km.lon
            - gathering.conversions.ykj10kmCenter.lat
            - gathering.conversions.ykj10kmCenter.lon
            - gathering.eventDate.begin
            - gathering.eventDate.end
            - gathering.gatheringSection
            - count
            - oldestRecord
            - newestRecord
            - lineLengthSum
            - firstLoadDateMin
            - firstLoadDateMax
            - securedCount
      - name: onlyCount
        in: query
        required: false
        description: Return only count of rows (default) or also additional aggregate function values.
        schema:
          type: boolean
          default: true
      - name: excludeNulls
        in: query
        required: false
        description: Include or exclude nulls to result. Will only check nullness of the first aggregateBy field.
        schema:
          type: boolean
          default: true
      - name: pessimisticDateRangeHandling
        in: query
        required: false
        description: 'Value of this parameter affects how oldestRecord and newestRecord are calculated regarding observations reported as date span. False (default): oldest=min(date.begin), newest=max(date.end). True: oldest=min(date.end), newest=max(date.begin).'
        schema:
          type: boolean
          default: false
      - name: pageSize
        in: query
        required: false
        description: Set number of results in one page.
        schema:
          type: integer
          default: 100
          minimum: 1
          maximum: 10000
      - name: page
        in: query
        required: false
        description: Set current page.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: cache
        in: query
        required: false
        description: Use cache for this query. Defaults to false.
        schema:
          type: boolean
          default: false
      - name: countryId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a country. Use Area-API to find identifiers. Will return entries where we have been able to interpret the country from coordinates or from reported area name. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: namedPlaceId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a NamedPlace. Use NamedPlace-API to find identifiers. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /named-places'
        schema:
          type: string
      - name: namedPlaceTag
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of MNP.tagEnum (use metadata-api to resolve identifiers) Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /metadata/ranges/MNP.tagEnum'
        schema:
          type: string
      - name: birdAssociationAreaId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a BirdAssociationArea. Use Area-API to find identifiers. Bird association area is interpreted based on YKJ 10KM grids (the grid the occurrence centerpoint is in). Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: formId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a Vihko Notebook form that was used to report the entry. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /forms'
        schema:
          type: string
      - name: time
        in: query
        required: false
        description: 'Filter using event date. Date can be a full date or part of a date, for example 2000, 2000-06 or 2000-06-25. Time can be a range, for example 2000/2005 or 2000-01-01/2005-12-31. Relative days "last N days" can be used: 0 is today, -1 is yesterday and so on; for example -7/0 is a range between 7 days ago and today. Multiple values are seperated by '',''. When multiple values are given, this is an OR search.'
        schema:
          type: string
      - name: timeAccuracy
        in: query
        required: false
        description: Filter using event date accuracy range in days. Will include entries where time span in days is less or equal to the given value.
        schema:
          type: integer
      - name: yearMonth
        in: query
        required: false
        description: 'Filter using event date. Value can be a year (2000), year range (2000/2001), year-month (2000-06) or a year-month range (2000-06/2000-08). (Note: this filter is mostly aimed to be used in /statistics queries because ''time'' filter is not available for /statistics queries.) Multiple values are seperated by '',''. When multiple values are given, this is an OR search.'
        schema:
          type: string
      - name: collectionId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of collections. Use Collections-API to resolve identifiers. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /collections'
        schema:
          type: string
      - name: collectionIdExplicit
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of collections. Use Collections-API to resolve identifiers. Will not include child collections Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /collections'
        schema:
          type: string
      - name: includeSubCollections
        in: query
        required: false
        description: Defines if collectionId filter should include sub collections of the given collection ids. By default sub collections are included.
        schema:
          type: boolean
      - name: qualityIssues
        in: query
        required: false
        description: 'Possible values: NO_ISSUES, BOTH, ONLY_ISSUES. Include records with quality issues (document, gathering or unit issues). Default is NO_ISSUES, but when searching by id (documentId, unitId, keyword) or using annotation endpoint the default is BOTH.'
        schema:
          type: string
          enum:
          - NO_ISSUES
          - BOTH
          - ONLY_ISSUES
          default: NO_ISSUES
      - name: completeListTaxonId
        in: query
        required: false
        description: 'Show only records where document contains complete list for this higher taxon. For example include only records where all birds or mammals were documented, if they were seens -> something that is not documented was not seen. Use taxon IDs. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /taxa'
        schema:
          type: string
      - name: completeListType
        in: query
        required: false
        description: 'Show only records where document contains complete list and the list is of this type: URI or Qname identifier of MY.completeListTypeEnum (use metadata-api to resolve identifiers) Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /metadata/ranges/MY.completeListTypeEnum'
        schema:
          type: string
      - name: taxonCensus
        in: query
        required: false
        description: 'Show only records where observations are completely recorded for this higher taxon. For example include only records where all birds or mammals were documented, if they were seens -> something that is not documented was not seen. Use taxon IDs. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /taxa'
        schema:
          type: string
      - name: format
        in: query
        required: false
        description: Alternative way to Accept header to define content type of the response.
        schema:
          type: string
          enum:
          - json
          - geojson
          - xml
          - csv
          - tsv
      responses:
        '200':
          description: Succesful query. Schema varies based on content-type of the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwQuery_AggregateResponse'
            application/geo+json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            text/tab-separated-values:
              schema:
                type: string
        '400':
          description: Parameters were not accepted. Message has details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '403':
          description: Invalid credentials. Message has details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '429':
          description: Too many pending requests for the access_token; max is 12
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseDwError'
        '500':
          description: Service is in unknown erroneous state.
          content:
            text/plain:
              schema:
                type: string
      tags:
      - Warehouse
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      operationId: getWarehouseQueryGatheringStatistics
      x-operation-id-source: derived
  /warehouse/query/unit/count:
    get:
      summary: Get count of units using given filters
      description: Use this API to test how many results your query would return and then proceed with list query.
      parameters:
      - name: format
        in: query
        required: false
        description: Alternative way to Accept header to define content type of the response.
        schema:
          type: string
          enum:
          - json
          - xml
          - plain
      - name: cache
        in: query
        required: false
        description: Use cache for this query. Defaults to false.
        schema:
          type: boolean
          default: false
      - name: taxonId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a taxon. Use Taxonomy-API to find identifiers. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /taxa'
        schema:
          type: string
      - name: target
        in: query
        required: false
        description: Same as taxonId, but system resolves identifier of the taxon based on the given target name. If no such match can be resolved (name does not exist in taxonomy), will filter based on the given verbatim target name (case insensitive). Multiple values are seperated by ','. When multiple values are given, this is an OR search.
        schema:
          type: string
      - name: useIdentificationAnnotations
        in: query
        required: false
        description: By default, all taxon linking related filters use taxon linking that may have been altered because of quality control identification annotations. If you want to use original user identifications, set this to false.
        schema:
          type: boolean
          default: true
      - name: includeSubTaxa
        in: query
        required: false
        description: By default, all taxon linking related filters return all entries that belong to the filtered taxa. To return only exact matches (no subtaxa), set this to false.
        schema:
          type: boolean
          default: true
      - name: includeNonValidTaxa
        in: query
        required: false
        description: Set to false if you want to include only those entries where reported target name can be linked with a taxon of the reference taxonomy. By default includes all entries.
        schema:
          type: boolean
          default: true
      - name: onlyNonValidTaxa
        in: query
        required: false
        description: Set to true if you want to include only those entries where reported target name can not be linked with a taxon of the reference taxonomy. By default includes all entries.
        schema:
          type: boolean
      - name: informalTaxonGroupId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of an informal taxon group. Use InformalTaxonGroups-API to find identifiers. Will return entries that have been linked with taxa that belong to one of the given groups. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /informal-taxon-groups'
        schema:
          type: string
      - name: informalTaxonGroupIdNot
        in: query
        required: false
        description: 'Exclude based on URI or Qname identifier of an informal taxon group. Use InformalTaxonGroups-API to find identifiers. Will exclude entries that have been linked with taxa that belong to any of the given groups. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /informal-taxon-groups'
        schema:
          type: string
      - name: informalTaxonGroupIdIncludingReported
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of an informal taxon group. Use InformalTaxonGroups-API to find identifiers. Will return entries that have been linked with taxa that belong to one of the given groups OR reported to belong to one of the given groups. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /informal-taxon-groups'
        schema:
          type: string
      - name: administrativeStatusId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of an administrative status. Use Metadata-API to find identifiers. Will return entries of taxa that are marked with the admin status. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /metadata/ranges/MX.adminStatusEnum'
        schema:
          type: string
      - name: redListStatusId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of red list status. Use Metadata-API to find identifiers. Will return entries of taxa that are marked with the red list status. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /metadata/ranges/MX.iucnStatuses'
        schema:
          type: string
      - name: taxonAdminFiltersOperator
        in: query
        required: false
        description: This parameter controls if search between administrativeStatusId and redListStatusId is an AND (default) or OR search.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: typeOfOccurrenceId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of type of occurrence in Finland. Use Metadata-API to find identifiers. Will return entries of taxa that are marked with one or more of the specified statuses. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /metadata/ranges/MX.typeOfOccurrenceEnum'
        schema:
          type: string
      - name: typeOfOccurrenceIdNot
        in: query
        required: false
        description: 'Exclude based on URI or Qname identifier of type of occurrence in Finland. Use Metadata-API to find identifiers. Will return entries of taxa that are not marked with any of the specified statuses. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /metadata/ranges/MX.typeOfOccurrenceEnum'
        schema:
          type: string
      - name: primaryHabitat
        in: query
        required: false
        description: 'Filter based on primary habitat of taxa. Will return entries of taxa that have one of the specified habitats or a subhabitat of the given habitats. Syntax: MKV.habitatMk[MKV.habitatSpecificTypeJ,MKV.habitatSpecificTypePAK] Multiple values are seperated by '';''. When multiple values are given, this is an OR search.'
        schema:
          type: string
      - name: anyHabitat
        in: query
        required: false
        description: 'Filter based on habitat of taxa (primary or secondary). Will return entries of taxa that have one of the specified habitats or a subhabitat of the given habitats. Syntax: MKV.habitatMk[MKV.habitatSpecificTypeJ,MKV.habitatSpecificTypePAK] Multiple values are seperated by '';''. When multiple values are given, this is an OR search.'
        schema:
          type: string
      - name: occurrenceCountMax
        in: query
        required: false
        description: Filter based on occurrence count of taxa. Will return entries of taxa that have less occurrences than the given parameter.
        schema:
          type: integer
      - name: occurrenceCountFinlandMax
        in: query
        required: false
        description: Filter based on occurrence count in Finland of taxa. Will return entries of taxa that have less occurrences in Finland than the given parameter.
        schema:
          type: integer
      - name: finnish
        in: query
        required: false
        description: Filter only those taxa that are finnish or are not finnish.
        schema:
          type: boolean
      - name: invasive
        in: query
        required: false
        description: Filter only those taxa that are invasive or are not invasive.
        schema:
          type: boolean
      - name: sensitive
        in: query
        required: false
        description: Include only those occurrences that are of sensitive species or those that are of non-sensitive species
        schema:
          type: boolean
      - name: higherTaxon
        in: query
        required: false
        description: 'True: Filter those occurrence that are linked to a higher taxon (like genus, family). False: linked to taxon that is species, subspecies, aggregate or other lower rank.'
        schema:
          type: boolean
      - name: taxonRankId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of taxon rank. Use Metadata-API to find identifiers. Will return entries of taxa that are of the specified ranks. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /metadata/ranges/MX.taxonRankEnum'
        schema:
          type: string
      - name: countryId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a country. Use Area-API to find identifiers. Will return entries where we have been able to interpret the country from coordinates or from reported area name. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: finnishMunicipalityId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a finnish municipality. Use Area-API to find identifiers. Will return entries where we have been able to interpret the municipality from coordinates or from reported area name. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: biogeographicalProvinceId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a biogeographical province. Use Area-API to find identifiers. Will return entries where we have been able to interpret the province from coordinates or from reported area name. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: elyCentreId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a ELY centre. Use Area-API to find identifiers. Implementation is based on municipality interpretations. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: provinceId
        in: query
        required: false
        description: 'Filter based on URI or Qname identifier of a Finnish province. Use Area-API to find identifiers. Implementation is based on municipality interpretations. Multiple values are seperated by '',''. When multiple values are given, this is an OR search. API resource: /areas'
        schema:
          type: string
      - name: area
        in: query
[...]
