openapi: 3.2.0
info:
  title: Laji Autocomplete API
  description: '## Authentication


    This API requires an **Access Token**.'
  version: '1'
  contact: {}
servers:
- url: https://api.laji.fi
tags:
- name: Autocomplete
paths:
  /autocomplete/persons:
    get:
      operationId: AutocompleteController_getPersons
      parameters:
      - name: query
        required: true
        in: query
        description: Search term
        schema:
          default: ''
          type: string
      - name: limit
        required: false
        in: query
        description: Limit the size of results
        schema:
          default: 10
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/GetPersonsResponseDto'
                  '@context':
                    type: string
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      tags:
      - Autocomplete
      summary: Autocomplete controller get persons
      x-summary-source: derived
  /autocomplete/friends:
    get:
      operationId: AutocompleteController_getFriends
      parameters:
      - name: query
        required: true
        in: query
        description: Search term
        schema:
          default: ''
          type: string
      - name: limit
        required: false
        in: query
        description: Limit the size of results
        schema:
          default: 10
          type: number
      - name: Person-Token
        required: false
        description: Person's authentication token. It is required.
        in: header
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/GetPersonsResponseDto'
                  '@context':
                    type: string
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      tags:
      - Autocomplete
      summary: Autocomplete controller get friends
      x-summary-source: derived
  /autocomplete/taxa:
    get:
      operationId: AutocompleteController_getTaxa
      parameters:
      - name: query
        required: true
        in: query
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Limit the number of results
        schema:
          default: 10
          type: number
      - name: checklist
        required: false
        in: query
        description: Include taxa from the specified checklists (defaults to FinBIF master checklist)
        schema:
          type: string
      - name: taxonSets
        required: false
        in: query
        description: Filter based on taxon set(s). Multiple values are separated by a comma (,)
        schema:
          type: string
      - name: informalTaxonGroups
        required: false
        in: query
        description: Search taxa from specified informal taxon group(s). Multiple values are separated by a comma (,). An exclamation mark in the beginning of a matches exclusively.
        schema:
          type: string
      - name: includeHidden
        required: false
        in: query
        description: Include hidden taxa in the response
        schema:
          default: false
          type: boolean
      - name: nameTypes
        required: false
        in: query
        description: Filter by type of the matching name (e.g., MX.vernacularName, MX.hasMisappliedName). Multiple values are separated by a comma (,). An exclamation mark in the beginning of a matches exclusively.
        schema:
          type: string
      - name: languages
        required: false
        in: query
        description: Filters by the language of the matching name. Multiple values can be specified, separated by commas (,). This applies only to name types that are available in multiple languages (e.g., MX.vernacularName) and does not apply to scientific names.
        schema:
          type: string
      - name: matchType
        required: false
        in: query
        description: 'Default: All match types; exact = exact matches, partial = partially matching, likely = fuzzy matching. Multiple values are separated by a comma (,)'
        schema:
          type: string
      - name: species
        required: false
        in: query
        description: 'true: Will include only "lower taxa" (species, subspecies, aggregates, ...)

          false: Will only include "higher taxa" (genus and above)'
        schema:
          type: boolean
      - name: finnish
        required: false
        in: query
        description: 'true: Will include only finnish taxa.

          false: Will exclude finnish taxa.'
        schema:
          type: boolean
      - name: invasiveSpecies
        required: false
        in: query
        description: Filter to include only invasive species
        schema:
          type: boolean
      - name: selectedFields
        required: false
        in: query
        description: Multiple values are separated by a comma (,)
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaxonAutocompleteResponse'
                  '@context':
                    type: string
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '406':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  localized:
                    type: boolean
      security:
      - Access token: []
      - Lang: []
      - Person token: []
      tags:
      - Autocomplete
      summary: Autocomplete controller get taxa
      x-summary-source: derived
components:
  schemas:
    GetPersonsResponseDto:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
        name:
          type: string
        group:
          type: string
      required:
      - key
    LajiBackendLocalizedText:
      type: string
    TaxonAutocompleteResponse:
      type: object
      properties:
        matchingName:
          type: string
          description: Name that matched the search word
        nameType:
          type: string
          description: Type of the name.
          enum:
          - MX.scientificName
          - MX.vernacularName
          - MX.hasSynonym
          - MX.hasBasionym
          - MX.alternativeVernacularName
          - MX.hasMisappliedName
          - MX.birdlifeCode
          - MX.obsoleteVernacularName
          - MX.euringCode
          - MX.hasSubjectiveSynonym
          - MX.hasAlternativeName
          - MX.hasOrthographicVariant
          - MX.hasObjectiveSynonym
          - MX.hasMisspelledName
          - MX.colloquialVernacularName
          - MX.hasUncertainSynonym
          - MX.hasHomotypicSynonym
          - MX.tradeName
          - MX.hasHeterotypicSynonym
        id:
          type: string
          description: Taxon identifier of the taxon that has the matching name; in the short Qname format, for example 'MX.123'
        checklist:
          type: string
          description: Checklist identifier of the matching taxon; in the short Qname format, for example 'MR.1'. For taxa not part of any checklist the value is 'undefined'.
        scientificName:
          type: string
          description: Accepted scientific name of the taxon that has the matching name
        scientificNameAuthorship:
          type: string
          description: Author of the above mentioned scientific name
        taxonRank:
          type: string
          description: Taxonomic rank of the taxon that has the matching name; in the short Qname format, for example 'MX.genus'
        cursiveName:
          type: boolean
          description: Should the matching name be cursived
        finnish:
          type: boolean
          description: Is the taxon that has the mathing name marked as a Finnish taxon
        species:
          type: boolean
          description: Is the taxon that has the mathing name species level or lower, or a higher taxon
        vernacularName:
          type: string
        informalGroups:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Identifier of the informal taxon group that the matching taxon belongs to); in the short Qname format, for example 'MVL.1'
              name:
                $ref: '#/components/schemas/LajiBackendLocalizedText'
            required:
            - id
            - name
        kingdomScientificName:
          type: string
          description: Scientific name of the kingdom that the matching taxon belongs to
        type:
          type: string
          description: Type of the matching name
          enum:
          - exactMatches
          - partialMatches
          - likelyMatches
        key:
          type: string
        value:
          type: string
      required:
      - matchingName
      - nameType
      - id
      - checklist
      - scientificName
      - scientificNameAuthorship
      - taxonRank
      - cursiveName
      - finnish
      - species
      - informalGroups
      - kingdomScientificName
      - type
      - key
      - value
  securitySchemes:
    Access_token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Access token
    Lang:
      type: apiKey
      in: header
      name: Accept-Language
      description: Sets the 'Accept-Language' header. One of 'fi', 'sv,' 'en'. Defaults to 'en'.
    Person_token:
      type: apiKey
      in: header
      name: Person-Token
