{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "University of Helsinki - Contact Search API",
    "description" : "",
    "version" : "2.0.0"
  },
  "servers" : [ {
    "url" : "https://gw.api.helsinki.fi/contact-search"
  } ],
  "paths" : {
    "/company_contacts" : {
      "get" : {
        "tags" : [ "CompanyContact" ],
        "summary" : "Retrieves the collection of CompanyContact resources.",
        "description" : "Retrieves the collection of CompanyContact resources.",
        "operationId" : "api_company_contacts_get_collection",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The collection page number",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of items per page",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "integer",
            "default" : 20,
            "maximum" : 50,
            "minimum" : 0
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort results by given field (id, firstnames, lastname, fullname). Default sort: ASC. Example for DESC: \"firstnames,desc\".",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firstnames",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lastname",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fullname",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mobileNumber",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "phoneNumber",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "title.id",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "title.id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : true,
          "allowReserved" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "Search from Company contacts.",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "CompanyContact collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/CompanyContact.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CompanyContact-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/company_contacts/{id}" : {
      "get" : {
        "tags" : [ "CompanyContact" ],
        "summary" : "Retrieves a CompanyContact resource.",
        "description" : "Retrieves a CompanyContact resource.",
        "operationId" : "api_company_contacts_id_get",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "CompanyContact identifier",
          "required" : true,
          "deprecated" : false,
          "style" : "simple",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "CompanyContact resource",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyContact.jsonld-read"
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyContact-read"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found"
          }
        },
        "deprecated" : false
      }
    },
    "/company_organizations" : {
      "get" : {
        "tags" : [ "CompanyOrganization" ],
        "summary" : "Retrieves the collection of CompanyOrganization resources.",
        "description" : "Retrieves the collection of CompanyOrganization resources.",
        "operationId" : "api_company_organizations_get_collection",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : true,
          "allowReserved" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "CompanyOrganization collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/CompanyOrganization.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CompanyOrganization-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/company_organizations/{id}" : {
      "get" : {
        "tags" : [ "CompanyOrganization" ],
        "summary" : "Retrieves a CompanyOrganization resource.",
        "description" : "Retrieves a CompanyOrganization resource.",
        "operationId" : "api_company_organizations_id_get",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "CompanyOrganization identifier",
          "required" : true,
          "deprecated" : false,
          "style" : "simple",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "CompanyOrganization resource",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyOrganization.jsonld-read"
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyOrganization-read"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found"
          }
        },
        "deprecated" : false
      }
    },
    "/company_organizations/{id}/members" : {
      "get" : {
        "tags" : [ "CompanyOrganization" ],
        "summary" : "Retrieves the collection of Company contact resources belonging to the Company organization",
        "description" : "Retrieves the collection of Company contact resources belonging to the Company organization",
        "operationId" : "api_company_organizations_idmembers_get_collection",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "CompanyOrganization identifier",
          "required" : true,
          "deprecated" : false,
          "style" : "simple",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort results by given field (id, firstnames, lastname, fullname). Default sort: ASC. Example for DESC: \"firstnames,desc\".",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firstnames",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lastname",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fullname",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mobileNumber",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "phoneNumber",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "title.id",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "title.id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : true,
          "allowReserved" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "Search from Company contacts.",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "CompanyContact collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/CompanyContact.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CompanyContact-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/company_titles" : {
      "get" : {
        "tags" : [ "CompanyTitle" ],
        "summary" : "Retrieves the collection of CompanyTitle resources.",
        "description" : "Retrieves the collection of CompanyTitle resources.",
        "operationId" : "api_company_titles_get_collection",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The collection page number",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "CompanyTitle collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/CompanyTitle.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CompanyTitle-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/contacts" : {
      "get" : {
        "tags" : [ "Contact" ],
        "summary" : "Retrieves the collection of Contact resources.",
        "description" : "Retrieves the collection of Contact resources.",
        "operationId" : "api_contacts_get_collection",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The collection page number",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort results by given field (id, firstnames, lastname, fullname). Default sort: ASC. Example for DESC: \"firstnames,desc\"",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "firstnames",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "lastname",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fullname",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mobileNumber",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "phoneNumber",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organizations.id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "primary_organizations.id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "researchOrganizations.id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "primary_research_organizations.id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "servicingOrganizations.id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "steeringGroups.id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hrOrganizations.id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "title.id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fieldsOfScience.value.id[]",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "description",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "publicWorkDescription",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "currentStatus",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page. Defaults to 20. Minimum of 1, maximum of 50.",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contact collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Contact.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Contact-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/contacts/{id}" : {
      "get" : {
        "tags" : [ "Contact" ],
        "summary" : "Retrieves a Contact resource.",
        "description" : "Retrieves a Contact resource.",
        "operationId" : "api_contacts_id_get",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Contact identifier",
          "required" : true,
          "deprecated" : false,
          "style" : "simple",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contact resource",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact.jsonld-read"
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact-read"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found"
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Contact" ],
        "summary" : "Replaces the Contact resource.",
        "description" : "Replaces the Contact resource.",
        "operationId" : "api_contacts_id_put",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Contact identifier",
          "required" : true,
          "deprecated" : false,
          "style" : "simple",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated Contact resource",
          "content" : {
            "application/ld+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contact.jsonld-write"
              }
            },
            "application/vnd.api+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contact-write"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Contact resource updated",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact.jsonld-read"
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact-read"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid input"
          },
          "422" : {
            "description" : "Unprocessable entity"
          },
          "404" : {
            "description" : "Resource not found"
          }
        },
        "deprecated" : false
      }
    },
    "/field_of_sciences" : {
      "get" : {
        "tags" : [ "FieldOfScience" ],
        "summary" : "Retrieves the collection of FieldOfScience resources.",
        "description" : "Retrieves the collection of FieldOfScience resources.",
        "operationId" : "api_field_of_sciences_get_collection",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The collection page number",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "FieldOfScience collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/FieldOfScience.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FieldOfScience-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/filters" : {
      "get" : {
        "tags" : [ "Filter" ],
        "summary" : "Retrieves the collection of Filter resources.",
        "description" : "Retrieves the collection of Filter resources.",
        "operationId" : "api_filters_get_collection",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Filter collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Filter.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Filter-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/filters/{id}" : {
      "get" : {
        "tags" : [ "Filter" ],
        "summary" : "Retrieves a Filter resource.",
        "description" : "Retrieves a Filter resource.",
        "operationId" : "api_filters_id_get",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Filter identifier",
          "required" : true,
          "deprecated" : false,
          "style" : "simple",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Filter resource",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Filter.jsonld-read"
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Filter-read"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found"
          }
        },
        "deprecated" : false
      }
    },
    "/hr_organizations" : {
      "get" : {
        "tags" : [ "HrOrganization" ],
        "summary" : "Retrieves the collection of HrOrganization resources.",
        "description" : "Retrieves the collection of HrOrganization resources.",
        "operationId" : "api_hr_organizations_get_collection",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "HrOrganization collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/HrOrganization.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/HrOrganization-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/hr_organizations/{id}" : {
      "get" : {
        "tags" : [ "HrOrganization" ],
        "summary" : "Retrieves a HrOrganization resource.",
        "description" : "Retrieves a HrOrganization resource.",
        "operationId" : "api_hr_organizations_id_get",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "HrOrganization identifier",
          "required" : true,
          "deprecated" : false,
          "style" : "simple",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "HrOrganization resource",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HrOrganization.jsonld-read"
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HrOrganization-read"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found"
          }
        },
        "deprecated" : false
      }
    },
    "/hr_organizations/{id}/members" : {
      "get" : {
        "tags" : [ "HrOrganization" ],
        "summary" : "Retrieves the collection of Contact resources belonging to the HR organization",
        "description" : "Retrieves the collection of Contact resources belonging to the HR organization",
        "operationId" : "api_hr_organizations_idmembers_get_collection",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "HrOrganization identifier",
          "required" : true,
          "deprecated" : false,
          "style" : "simple",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Contact collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Contact.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Contact-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/organizations" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Retrieves the collection of Organization resources.",
        "description" : "Retrieves the collection of Organization resources.",
        "operationId" : "api_organizations_get_collection",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The collection page number",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Organization collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Organization.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Organization-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/organizations/{id}" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Retrieves a Organization resource.",
        "description" : "Retrieves a Organization resource.",
        "operationId" : "api_organizations_id_get",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "deprecated" : false,
          "style" : "simple",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Organization resource",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organization.jsonld-read"
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organization-read"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found"
          }
        },
        "deprecated" : false
      }
    },
    "/research_organizations" : {
      "get" : {
        "tags" : [ "ResearchOrganization" ],
        "summary" : "Retrieves the collection of ResearchOrganization resources.",
        "description" : "Retrieves the collection of ResearchOrganization resources.",
        "operationId" : "api_research_organizations_get_collection",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The collection page number",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ResearchOrganization collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/ResearchOrganization.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ResearchOrganization-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/steering_groups" : {
      "get" : {
        "tags" : [ "SteeringGroup" ],
        "summary" : "Retrieves the collection of SteeringGroup resources.",
        "description" : "Retrieves the collection of SteeringGroup resources.",
        "operationId" : "api_steering_groups_get_collection",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "SteeringGroup collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/SteeringGroup.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SteeringGroup-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/steering_groups/{id}" : {
      "get" : {
        "tags" : [ "SteeringGroup" ],
        "summary" : "Retrieves a SteeringGroup resource.",
        "description" : "Retrieves a SteeringGroup resource.",
        "operationId" : "api_steering_groups_id_get",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SteeringGroup identifier",
          "required" : true,
          "deprecated" : false,
          "style" : "simple",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "SteeringGroup resource",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SteeringGroup.jsonld-read"
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SteeringGroup-read"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found"
          }
        },
        "deprecated" : false
      }
    },
    "/steering_groups/{id}/members" : {
      "get" : {
        "tags" : [ "SteeringGroup" ],
        "summary" : "Retrieves a SteeringGroupMember resources.",
        "description" : "Retrieves a SteeringGroupMember resources.",
        "operationId" : "api_steering_groups_idmembers_get_collection",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "SteeringGroup identifier",
          "required" : true,
          "deprecated" : false,
          "style" : "simple",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "SteeringGroupMember collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/SteeringGroupMember.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SteeringGroupMember-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/suggestions" : {
      "get" : {
        "tags" : [ "Suggestion" ],
        "summary" : "Retrieves the collection of Suggestion resources.",
        "description" : "Retrieves the collection of Suggestion resources.",
        "operationId" : "api_suggestions_get_collection",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "",
          "required" : true,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Suggestion collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Suggestion"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/titles" : {
      "get" : {
        "tags" : [ "Title" ],
        "summary" : "Retrieves the collection of Title resources.",
        "description" : "Retrieves the collection of Title resources.",
        "operationId" : "api_titles_get_collection",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The collection page number",
          "required" : false,
          "deprecated" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : false,
          "allowReserved" : false,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Title collection",
            "content" : {
              "application/ld+json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "hydra:member" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/Title.jsonld-read"
                      }
                    },
                    "hydra:totalItems" : {
                      "type" : "integer",
                      "minimum" : 0
                    },
                    "hydra:view" : {
                      "type" : "object",
                      "example" : {
                        "@id" : "string",
                        "type" : "string",
                        "hydra:first" : "string",
                        "hydra:last" : "string",
                        "hydra:previous" : "string",
                        "hydra:next" : "string"
                      },
                      "properties" : {
                        "@id" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:first" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:last" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:previous" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        },
                        "hydra:next" : {
                          "type" : "string",
                          "format" : "iri-reference"
                        }
                      }
                    },
                    "hydra:search" : {
                      "type" : "object",
                      "properties" : {
                        "@type" : {
                          "type" : "string"
                        },
                        "hydra:template" : {
                          "type" : "string"
                        },
                        "hydra:variableRepresentation" : {
                          "type" : "string"
                        },
                        "hydra:mapping" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "@type" : {
                                "type" : "string"
                              },
                              "variable" : {
                                "type" : "string"
                              },
                              "property" : {
                                "type" : [ "string", "null" ]
                              },
                              "required" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required" : [ "hydra:member" ]
                }
              },
              "application/vnd.api+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Title-read"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    }
  },
  "components" : {
    "schemas" : {
      "CompanyContact-read" : {
        "type" : "object",
        "deprecated" : false,
        "description" : "Company Contact resource.",
        "properties" : {
          "companyOrganizations" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CompanyOrganization-read"
            }
          },
          "title" : {
            "anyOf" : [ {
              "$ref" : "#/components/schemas/CompanyTitle-read"
            }, {
              "type" : "null"
            } ],
            "owl:maxCardinality" : 1
          },
          "id" : {
            "type" : "integer"
          },
          "firstnames" : {
            "type" : "string"
          },
          "lastname" : {
            "type" : "string"
          },
          "fullname" : {
            "type" : "string"
          },
          "email" : {
            "type" : [ "string", "null" ]
          },
          "address" : {
            "type" : "object",
            "items" : {
              "type" : "string"
            },
            "properties" : {
              "en" : {
                "type" : "string"
              },
              "fi" : {
                "type" : "string"
              },
              "sv" : {
                "type" : "string"
              }
            }
          },
          "mobileNumber" : {
            "type" : [ "string", "null" ]
          },
          "phoneNumber" : {
            "type" : [ "string", "null" ]
          },
          "isPublic" : {
            "type" : "boolean",
            "default" : true,
            "example" : true
          }
        },
        "required" : [ "email", "firstnames", "fullname", "lastname" ]
      },
      "CompanyContact.jsonld-read" : {
        "type" : "object",
        "deprecated" : false,
        "description" : "Company Contact resource.",
        "properties" : {
          "@id" : {
            "type" : "string",
            "readOnly" : true
          },
          "@type" : {
            "type" : "string",
            "readOnly" : true
          },
          "@context" : {
            "oneOf" : [ {
              "type" : "string"
            }, {
              "type" : "object",
              "additionalProperties" : true,
              "properties" : {
                "@vocab" : {
                  "type" : "string"
                },
                "hydra" : {
                  "type" : "string",
                  "enum" : [ "http://www.w3.org/ns/hydra/core#" ]
                }
              },
              "required" : [ "@vocab", "hydra" ]
            } ],
            "readOnly" : true
          },
          "companyOrganizations" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CompanyOrganization.jsonld-read"
            }
          },
          "title" : {
            "anyOf" : [ {
              "$ref" : "#/components/schemas/CompanyTitle.jsonld-read"
            }, {
              "type" : "null"
            } ],
            "owl:maxCardinality" : 1
          },
          "id" : {
            "type" : "integer"
          },
          "firstnames" : {
            "type" : "string"
          },
          "lastname" : {
            "type" : "string"
          },
          "fullname" : {
            "type" : "string"
          },
          "email" : {
            "type" : [ "string", "null" ]
          },
          "address" : {
            "type" : "object",
            "items" : {
              "type" : "string"
            },
            "properties" : {
              "en" : {
                "type" : "string"
              },
              "fi" : {
                "type" : "string"
              },
              "sv" : {
                "type" : "string"
              }
            }
          },
          "mobileNumber" : {
            "type" : [ "string", "null" ]
          },
          "phoneNumber" : {
            "type" : [ "string", "null" ]
          },
          "isPublic" : {
            "type" : "boolean",
            "default" : true,
            "example" : true
          }
        },
        "required" : [ "email", "firstnames", "fullname", "lastname" ]
      },
      "CompanyOrganization-read" : {
        "type" : "object",
        "deprecated" : false,
        "description" : "Company organization resource.",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "object",
            "items" : {
              "type" : "string"
            },
            "properties" : {
              "en" : {
                "type" : "string"
              },
              "fi" : {
                "type" : "string"
              },
              "sv" : {
                "type" : "string"
              }
            }
          },
          "type" : {
            "type" : "string"
          },
          "parent" : {
            "type" : [ "integer", "null" ]
          },
          "depth" : {
            "type" : "integer"
          },
          "code" : {
            "type" : [ "string", "null" ]
          }
        }
      },
      "CompanyOrganization.jsonld-read" : {
        "type" : "object",
        "deprecated" : false,
        "description" : "Company organization resource.",
        "properties" : {
          "@id" : {
            "type" : "string",
            "readOnly" : true
          },
          "@type" : {
            "type" : "string",
            "readOnly" : true
          },
          "@context" : {
            "oneOf" : [ {
              "type" : "string"
            }, {
              "type" : "object",
              "additionalProperties" : true,
              "properties" : {
                "@vocab" : {
                  "type" : "string"
                },
                "hydra" : {
                  "type" : "string",
                  "enum" : [ "http://www.w3.org/ns/hydra/core#" ]
                }
              },
              "required" : [ "@vocab", "hydra" ]
            } ],
            "readOnly" : true
          },
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "object",
            "items" : {
              "type" : "string"
            },
            "properties" : {
              "en" : {
                "type" : "string"
              },
              "fi" : {
                "type" : "string"
              },
              "sv" : {
                "type" : "string"
              }
            }
          },
          "type" : {
            "type" : "string"
          },
          "parent" : {
            "type" : [ "integer", "null" ]
          },
          "depth" : {
            "type" : "integer"
          },
          "code" : {
            "type" : [ "string", "null" ]
          }
        }
      },
      "CompanyTitle-read" : {
        "type" : "object",
        "deprecated" : false,
        "description" : "Company Title resource.",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "object",
            "items" : {
              "type" : "string"
            },
            "properties" : {
              "en" : {
                "type" : "string"
              },
              "fi" : {
                "type" : "string"
              },
              "sv" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "CompanyTitle.jsonld-read" : {
        "type" : "object",
        "deprecated" : false,
        "description" : "Company Title resource.",
        "properties" : {
          "@id" : {
            "type" : "string",
            "readOnly" : true
          },
          "@type" : {
            "type" : "string",
            "readOnly" : true
          },
          "id" : {
            "type" : "string"
          },
          "name" : {
[...]
